@import "reset.css";

@font-face {
    font-family: Mont;
    src: url("../fonts/Mont-Regular.ttf");
}

@font-face {
    font-family: Mont-bold;
    src: url("../fonts/Mont-bold.ttf");
}

@font-face {
    font-family: Mont-Semibold;
    src: url("../fonts/MontSemiBold.ttf");
}

@font-face {
    font-family: Mont-italic;
    src: url("../fonts/MontBoldItalic.ttf");
}

@font-face {
    font-family: BogartTrial;
    src: url("../fonts/Bogart-Regular-trial.ttf");
}

@font-face {
    font-family: BogartTrialBold;
    src: url("../fonts/Bogart-Bold-trial.ttf");
}

@font-face {
    font-family: Mont-Heavy;
    src: url("../fonts/ofont.ru_Mont.ttf");
}

body {
    background-color: white;
    font-family: Mont;
}

.page {
    display: none;
    flex-direction: column;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 88vh;
    width: 100vw;
    background-size: 100% auto;
}

.site-header {
    background: white; !important;
    display: flex;
    padding: 40px 40px 0 40px;
    justify-content: space-between;
    position: sticky; !important;
    top: 0;
    z-index: 10;
}

.logo {
    width: 85px;
    height: 85px;
}

.header-text {
    margin-right: 38%;
    padding-top: 9px;
    font-family: BogartTrialBold;
    font-weight: bold;
    width: 496px;
    height: 68px;
}

.header-text-up {
    font-size: 32px;
    line-height: 38.4px;
}

.header-text-bottom {
    font-size: 26px;
    line-height: 31.2px;
}

.play-again {
    margin-top: 19px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 216px;
    height: 47px;
    background-color: white;
    font-size: 24px;
    border: 3px solid #DE643B;
    border-radius: 8px;
    color: #DE643B;
    font-family: Mont-Semibold;
    transition: 0.7s;
}

.play-again:hover {
    background-color: #DE643B;
    color: white;
}

.button-play-again {
    width: 310px;
    height: 57px;
    background-color: #DE643B;
    border-radius: 8px;
    transition: 0.7s;
    color: white;
    font-size: 32px;
    font-family: Mont-Semibold;
}

.button-play-again:hover {
    background-color: #CF5026;
}

.choice {
    filter: drop-shadow(0 0 30px rgba(45,29,56,0.2));
    border-radius: 24px;
    background-color: white;
    width: 557px;
    height: 157px;
    font-size: 24px;
    text-align: left;
    padding: 32px 48px 32px 48px;
}

.choice:hover {
    filter: drop-shadow(0 0 30px rgba(45,29,56, 0.5));
}

.button-next {
    display: flex;
    justify-content: center;
    width: 171px;
    height: 57px;
    background-color: #DE643B;
    border-radius: 8px;
    transition: 0.7s;
    color: white;
    font-size: 32px;
    font-family: Mont-Semibold;
    padding-top: 8px;
}

.button-next:hover {
    background-color: #CF5026;
}

p {
    width: 1130px;
    font-size: 24px;
    padding-bottom: 8px;
}

.progress-bar {
    z-index: 2;
}
.preface {
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    padding-bottom: 1px;
    padding-top: 120px;
    padding-left: 155px;
    background-image: url("../img/merchant/page1-back.png");
    background-position: bottom;
    background-repeat: no-repeat;
    height: 88vh;
    background-size: 100%;
}

/*.page1-back {*/
/*    position: absolute;*/
/*    padding-top: 7%;*/
/*    opacity: 1;*/
/*    transition: opacity 3s ease;*/
/*}*/

/*.active {*/
/*    animation: show 3s 1;*/
/*    animation-fill-mode: forwards;*/
/*    animation-delay: 2s;*/
/*}*/

/*@keyframes show {*/
/*    0% {*/
/*        opacity: 1;*/
/*    }*/
/*    100% {*/
/*        opacity: 0;*/
/*    }*/
/*}*/

.preface-heading {
    font-size: 32px;
    font-family: Mont-Heavy;
    padding-bottom: 16px;
}

.button-page1 {
    margin-left: 35%;
    margin-top: 248px;
}

.preface-text {
    width: 1016px;
}

.page2 {
    padding: 150px 0 122px 150px;
    background-image: url("../img/merchant/page2-back.png");
}

.page2-bottom {
    display: flex;
    justify-content: space-between;
}

.page2-text {
    width: 672px;
}

.page2-choice1 {
    height: 126px;
    margin-top: 52px;
}

.page2-choice2 {
    height: 95px;
    margin-top: 48px;
}

.page2-choice3 {
    margin-top: 48px;
}

.page2-img {
    width: 704px;
    height: 393px;
    margin-top: 160px;
}

.page3-choice1 {
    padding: 155px 40px 78px 150px;
    background-image: url("../img/merchant/page3-choice1-back.png");
}

.page3-choice1-bottom {
    display: flex;
    justify-content: space-between;
}

.page3-choice1-text2 {
    width: 442px;
}

.button-page3-choice1 {
    margin-top: 150px;
    margin-left: 133px;
}

.page3-choice1-img {
    margin-top: -50px;
    width: 758px;
    height: 625px;
}

.page3-choice2 {
    background-image: url("../img/merchant/page3-choice2-back.png");
    padding: 155px 40px 71px 150px;
}

.page3-choice2-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.button-page3-choice2 {
    margin-top: 360px;
    margin-left: 11%;
}

.page3-choice3 {
    background-image: url("../img/merchant/page3-choice2-back.png");
    padding: 155px 40px 59px 150px;
}

.page3-choice3-text2 {
    width: 672px;
}

.page3-choice3-bottom {
    display: flex;
    justify-content: space-between;
}

.button-page3-choice3 {
    margin-top: 244px;
    margin-left: 10%;
}

.page4 {
    background-image: url("../img/merchant/page4-back.png");
    padding: 155px 115px 66px 150px;
}

.page4-bottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

.page4-left {
    display: flex;
    flex-direction: column;
}

.button-page4-choice1 {
    width: 557px;
    height: 188px;
    margin-top: 45px;
    padding-left: 48px;
    padding-right: 48px;
    text-align: left;
}

.button-page4-choice2 {
    margin-top: 48px;
    width: 557px;
    height: 250px;
    padding-left: 48px;
    padding-right: 48px;
    text-align: left;
}

.page4-text {
    width: 901px;
}

.page5-choice1 {
    background-image: url("../img/merchant/page3-choice1-back.png");
    padding: 250px 0 76px 150px;
}

.page5-choice1-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 36px;
}

.page5-choice1-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page5-choice1-text {
    width: 900px;
}

.page5-choice1-text2 {
    width: 421px;
    font-size: 28px;
    font-family: Mont-Semibold;
    padding: 200px 0 40px 0;
}

.page5-choice2 {
    background-image: url("../img/merchant/page3-choice2-back.png");
    padding: 155px 0 0 150px;
}

.page5-choice2-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}

.button-page5-choice2 {
    margin: 344px 0 0 130px
}

.page6 {
    background-image: url("../img/merchant/page6-back.png");
    padding: 155px 20px 152px 150px;
}

.page6-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

.page6-text {
    width: 786px;
}

.button-page6 {
    width: 557px;
    height: 95px;
    margin-bottom: 48px;
}

.page7-choice1, .page7-choice2, .page7-choice3 {
    padding: 155px 40px 170px 150px;
}

.page7-choice1 {
    background-image: url("../img/merchant/page7-choice1-back.png");
}

.page7-choice2 {
    background-image: url("../img/merchant/page7-choice2-back.png");
}

.page7-choice3 {
    background-image: url("../img/merchant/page7-choice3-back.png");
}

.page7-choice1-text {
    width: 672px;
}

.page7-bottom {
    padding-top: 17px;
    display: flex;
    justify-content: space-between;
}

.button-page7-choice1, .button-page7-choice2, .button-page7-choice3 {
    margin: 350px 0 0 140px;
}

.page7-choice2-img {
    padding-top: 60px;
}

.page7-choice3-text {
    width: 671px;
}

.page7-choice3-img {
    padding-top: 16px;
}

.page8 {
    background-image: url("../img/merchant/page8-back.png");
    padding: 155px 0 152px 150px;
}

.page8-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 38px;
}

.page8-left {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.button-page8-choice1 {
    margin-top: 42px;
    height: 250px;
    text-align: left;
    padding: 0 48px 0 48px;
}

.button-page8-choice2 {
    height: 95px;
    margin-top: 48px;
    text-align: left;
    padding: 0 48px 0 48px;
}

.page9-choice1 {
    background-image: url("../img/merchant/page9-choice1-back.png");
    padding: 155px 155px 29px 150px;
}

.page9-choice1-text2 {
    width: 784px;
}

.page9-choice1-bottom {
    display: flex;
    justify-content: space-between;
}

.page9-choice1-left {
    display: flex;
    flex-direction: column;
}

.page9-choice1-text3 {
    width: 490px;
    font-family: Mont-Semibold;
    font-size: 28px;
    padding: 194px 0 44px 51px;
}

.button-page9-choice1 {
    margin-left: 106px;
}

.page9-choice2 {
    background-image: url("../img/merchant/page9-choice2-back.png");
    padding: 155px 0 80px 150px;
}

.page9-choice2-bottom {
    display: flex;
    justify-content: space-between;
}

.page9-choice2-img {
    float: left;
    margin-top: -50px;
}

.page9-choice2-text1 {
    width: 1016px;
}

.page9-choice2-text2 {
    width: 600px;
}

.button-page9-choice2 {
    margin: 243px 0 0 135px;
}

.page10 {
    background-image: url("../img/merchant/page10-back.png");
    padding: 155px 0 179px 150px;
}

.page10-bottom {
    display: flex;
    justify-content: space-between;
}

.page10-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 52px;
}

.button-page10-choice1, .button-page10-choice2 {
    width: 557px;
    height: 157px;
    margin-bottom: 48px;
    text-align: left;
    padding: 32px 48px 32px 48px;
}

.page10-img {
    margin-top: -70px;
    width: 855px;
    height: 533px;
}

.page11-choice1 {
    background-image: url("../img/merchant/page11-choice1-back.png");
    flex-direction: row;
    padding: 155px 150px 140px 150px;
}

.page11-choice1-text {
    width: 672px;
}

.button-page11-choice1 {
    margin: 344px 0 0 210px
}

.page11-choice2 {
    background-image: url("../img/merchant/page11-choice2-back.png");
    padding: 155px 31px 172px 150px;
}

.page11-choice2-bottom {
    display: flex;
    justify-content: space-between;
}

.page11-choice2-text {
    width: 672px;
    padding-bottom: 17px;
}

.button-page11-choice2 {
    margin: 344px 0 0 240px;
}

.page12 {
    background-image: url("../img/merchant/page12-back.png");
    flex-direction: row;
    justify-content: space-between;
    padding: 155px 100px 100px 150px;
}

.page12-text {
    width: 672px;
}

.button-page12-choice1 {
    height: 126px;
    width: 557px;
    text-align: left;
    padding: 32px 48px 32px 48px;
    margin-top: 60px;
}

.button-page12-choice2, .button-page12-choice3 {
    height: 95px;
    width: 557px;
    text-align: left;
    padding: 32px 48px 32px 48px;
    margin-top: 48px;
}

.page13 {
    background-image: url("../img/merchant/page13-choice1-back.png");
    padding: 155px 0 70px 150px;
}

.page13-text {
    width: 672px;
}

.page13-bottom {
    display: flex;
    padding-top: 80px;
    justify-content: space-between;
}

.button-page13 {
    margin-top: 320px;
    margin-left: 90px;
}

.page14 {
    background-image: url("../img/merchant/page14-back.png");
    padding: 155px 40px 70px 150px;
}

.page14-bottom {
    display: flex;
    padding-top: 60px;
    justify-content: space-between;
    align-items: center;
}

.page14-left {
    display: flex;
    flex-direction: column;
}

.page14-text1 {
    width: 1016px;
}

.page14-text2 {
    width: 786px;
}

.button-page14-choice1 {
    width: 671px;
    height: 250px;
    text-align: left;
    padding: 32px 48px 32px 48px;
}

.button-page14-choice2 {
    width: 671px;
    height: 188px;
    text-align: left;
    padding: 32px 48px 32px 48px;
    margin-top: 48px;
}

.page15-choice1, .page15-choice2 {
    background-image: url("../img/merchant/page15-back.png");
    flex-direction: row;
    justify-content: space-between;
    padding: 155px 72px 40px 150px;
}

.page15-left {
    display: flex;
    flex-direction: column;
}

.page15-text {
    width: 673px;
    padding-top: 105px;
}

.button-page15-choice1, .button-page15-choice2 {
    margin: 345px 0 0 251px;
}

.page16 {
    background-image: url("../img/merchant/page16-back.png");
    padding: 155px 155px 113px 150px;
}

.page16-text2 {
    width: 672px;
    padding-bottom: 60px;
}

.button-page16-choice1, .button-page16-choice3 {
    width: 544px;
    height: 126px;
    text-align: left;
    padding: 32px 41px 32px 41px;
    margin-bottom: 48px;
}

.button-page16-choice2 {
    width: 544px;
    height: 95px;
    text-align: left;
    padding: 32px 41px 32px 41px;
    margin-bottom: 48px;
}

.page17-choice1 {
    background-image: url("../img/merchant/page17-choice1-back.png");
    padding: 155px 0 100px 150px;
}

.page17-choice1-bottom {
    display: flex;
    justify-content: space-between;
}

.button-page17-choice1 {
    margin: 395px 0 0 191px;
}

.page17-choice2, .page17-choice3 {
    flex-direction: row;
    justify-content: space-between;
    padding: 155px 40px 72px 150px;
}

.page17-choice2 {
    background-image: url("../img/merchant/page17-choice2-back.png");
}

.page17-choice3 {
    background-image: url("../img/merchant/page17-choice3-back.png");
}

.page17-text {
    width: 672px;
}

.button-page17-choice2, .button-page17-choice3 {
    margin-top: 213px;
    margin-left: 260px;
}

.page17-left {
    padding-top: 52px;
}

.page18 {
    background-image: url("../img/merchant/page18-back.png");
    padding: 155px 0 288px 150px;
}

.page18-buttons {
    display: flex;
    margin-top: 129px;
}

.more-lit {
    margin-left: 231px;
    margin-right: 60px;
}

.more-lit {
    padding-left: 150px;
    margin-top: 19px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 343px;
    height: 98px;
    background-color: #DE643B;
    font-size: 32px;
    border-radius: 12px;
    color: white;
    font-family: Mont-Semibold;
    transition: 0.7s;
}

.more-lit:hover {
    background-color: #CF5026;
}

.play-again-button {
    margin-top: 19px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 269px;
    height: 98px;
    background-color: white;
    font-size: 32px;
    border: 3px solid #DE643B;
    border-radius: 12px;
    color: #DE643B;
    font-family: Mont-Semibold;
    transition: 0.7s;
}

.play-again-button:hover {
    background-color: #DE643B;
    color: white;
}
.more-lit-page {
    position: fixed;
    top: 50px;
    left: 155px;
    height: 764px;
    display: none;
    margin: 155px 75px 65px 0;
    filter: drop-shadow(0 0 20px rgba(45,29,56,0.2));
    border-radius: 24px;
    background-color: white;
    width: 1210px;
    font-size: 24px;
    text-align: left;
    padding: 32px 45px 32px 45px;
}

.more-lit-li {
    list-style: inside; !important;
    padding-bottom: 8px;
}

.more-lit-li::marker {
    font-size: 20px;
}

.more-let-btn {
    border-radius: 24px;
    width: 22px;
    height: 22px;
    text-align: right;
    background-image: url("../img/more-lit.png");
    transition: 0.7s;
}

.more-let-btn:hover {
    background-image: url("../img/merchant/more-lit-hover.png");
}

.more-lit-li1, .more-lit-ul1 {
    width: 1070px;
}

.more-lit-li1 {
    list-style: inside; !important;
    padding-bottom: 8px;
}

.more-lit-li1::marker {
    font-size: 20px;
}

.more-lit-page-top {
    display: flex;
    justify-content: space-between;
}

