@import "reset.css";

@font-face {
    font-family: Mont;
    src: url("../fonts/Mont-Regular.ttf");
}

@font-face {
    font-family: Mont-bold;
    src: url("../fonts/Mont-bold.ttf");
}

@font-face {
    font-family: Mont-Semibold;
    src: url("../fonts/MontSemiBold.ttf");
}

@font-face {
    font-family: Mont-italic;
    src: url("../fonts/MontBoldItalic.ttf");
}

@font-face {
    font-family: BogartTrial;
    src: url("../fonts/Bogart-Regular-trial.ttf");
}

@font-face {
    font-family: BogartTrialBold;
    src: url("../fonts/Bogart-Bold-trial.ttf");
}

body {
    background-color: white;
    font-family: Mont;
}

.site-header {
    background: white; !important;
    display: flex;
    padding: 40px 40px 0 40px;
    justify-content: space-between;
    position: sticky; !important;
    top: 0;
}

.logo {
    width: 85px;
    height: 85px;
}

.header-text {
    margin-right: 38%;
    padding-top: 9px;
    font-family: BogartTrialBold;
    font-weight: bold;
    width: 496px;
    height: 68px;
}

.header-text-up {
    font-size: 32px;
    line-height: 38.4px;
}

.header-text-bottom {
    font-size: 26px;
    line-height: 31.2px;
}

.play-again {
    margin-top: 19px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 216px;
    height: 47px;
    background-image: url("../img/play-again.png");
    font-size: 24px;
    color: #5F44C9;
    font-family: Mont-Semibold;
    transition: 0.7s;
}

.play-again:hover {
    background-image: url("../img/play-again-hover.png");
    color: white;
}

.preface-bar {
    position: fixed;
    top: 0;
    width: 64px;
    height: 808px;
    margin: 173px 0 0 40px;
}

.preface {
    padding-bottom: 43px;
    padding-top: 10px;
    display: flex;
    column-gap: 50px;
}
.preface-content {
    display: flex;
    flex-direction: column;
    padding: 48px 150px 0 155px;
}
.preface-heading {
    line-height: 40.9px;
    font-family: Mont-bold;
    font-size: 32px;
    margin-bottom: 15px;
}

.preface-text {
    font-size: 24px;
    line-height: 30.67px;
    padding-bottom: 8px;
}

.preface-text-last {
    font-size: 24px;
    line-height: 30.67px;
    padding-bottom: 16px;
}

.preface-bold {
    font-family: Mont-italic;
    font-weight: 700;
    font-size: 24px;
    font-style: italic;
    line-height: 30.67px;
    padding-bottom: 16px;
    padding-left: 32px;
}

.button-next {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    position: relative;
    width: 171px;
    height: 57px;
    background-image: url("../img/button-next.png");
    transition: 0.7s;
    color: white;
    font-size: 32px;
    font-family: Mont-Semibold;
    padding-top: 8px
}

.button-next:hover {
    background-image: url("../img/button-next-hover.png");
}

.button-next-div {
    display: flex;
    justify-content: center;
}
.page2 {
    padding-bottom: 43px;
    display: none;
    column-gap: 50px;
}

.page2-content {
    padding-left: 155px;
}

.page2-text1 {
    padding-top: 122.5px;
}

.page2-text {
    font-size: 24px;
    padding-bottom: 8px;
    width: 682px;
}

.button-page2-choice1 {
    margin-top: 52px;
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url("img/page2-choice1.png");
    width: 557px;
    height: 157px;
    filter: drop-shadow(0 0 10px rgba(45,29,56,0.1));
}

.button-page2-choice1 {
    filter: drop-shadow(0 0 10px rgba(45,29,56,0.1));
}

.text-page2-choice1 {
    position: absolute;
    left: 0;
    top: 30px;
    width: 461px;
    height: 93px;
    font-size: 24px;
    color: #2D1D38;
    text-indent: -25px;
}

.button-page2-choice2 {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    position: relative;

}

.img-page2-choice2 {
    filter: drop-shadow(0 0 10px rgba(45,29,56,0.1));
}

.text-page2-choice2 {
    position: absolute;
    left: 0;
    top: 45px;
    width: 461px;
    height: 62px;
    font-size: 24px;
    color: #2D1D38;
    text-indent: 35px;
    margin-left: 10px;
}

.page2-img {
    padding-right: 40px;
    padding-top: 70px;
}

.bar-page2 {
    top: 0;
    position: fixed;
    width: 64px;
    height: 808px;
    margin: 173px 0 0 0;
}

.page3-choice1 {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    display: none;
    column-gap: 50px;
    padding-left: 150px;
}

.row-page3 {
    display: flex;
    justify-content: space-between;
}

.page3-choice1-img {
    width: 951px;
    height: 572.14px;
    padding-top: 22.86px;
}

.page3-text1 {
    font-size: 24px;
    color: #2D1D38;
    padding: 72px 155px 8px 0;
}

.page3-text2-choice1 {
    color: #2D1D38;
    font-size: 24px;
    width: 442px;
}

.button-page3-choice1 {
    margin-top: 119px;
}

.page3-choice2 {
    padding-top: 40px;
    display: none;
    column-gap: 50px;
    padding-left: 150px;
    flex-direction: column;
}

.button-page3-choice2 {
    margin-top: 112px;
}

.page3-text2-choice2 {
    font-size: 24px;
    width: 672px;
    padding-bottom: 8px;
}

.page3-text3-choice2 {
    font-size: 24px;
    width: 672px;
}

.page4 {
    display: none;
    flex-direction: column;
    padding-left: 155px;
    padding-bottom: 113px;
    padding-top: 110px;
}

.page4-bottom-content {
    display: flex;
}

.choice {
    filter: drop-shadow(0 0 10px rgba(45,29,56,0.1));
}

.page4-choice1 {
    width: 557px;
    height: 95px;
    background-image: url("../img/page4-choice1.png");
    margin-top: 52px;
    font-size: 24px;
}

.page4-choice2 {
    width: 557px;
    height: 95px;
    margin-top: 48px;
    font-size: 24px;
    background-image: url("../img/page4-choice2.png");
}

.page4-choice3 {
    width: 557px;
    height: 157px;
    margin-top: 48px;
    font-size: 24px;
    background-image: url("../img/page4-choice3.png");
}

.page4-text {
    font-size: 24px;
    padding-bottom: 8px;
}

.page4-img {
    width: 620px;
    height: 471px;
    padding-right: 40px;
}

.page5-choice1-2 {
    display: none;
    flex-direction: column;
    padding-top: 245px;
    padding-left: 155px;
    padding-bottom: 78px;
}

.page5-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}

.page5-text {
    position: absolute;
    font-size: 24px;
    width: 900px;
}

.button-page5 {
    margin-left: 35px;
    margin-top: 250px;
}

.page5-img {
    padding-right: 40px;
}

.page5-choice3 {
    display: none;
    flex-direction: column;
    padding-top: 245px;
    padding-left: 155px;
    padding-bottom: 78px;
}

.page6 {
    display: none;
    padding-left: 155px;
    padding-top: 120px;
    padding-bottom: 40px;
}

.page6-left {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}

.page6-text {
    font-size: 24px;
    padding-bottom: 12px;
    width: 786px;
}

.page6-choice1 {
    width: 557px;
    height: 95px;
    margin-top: 48px;
    font-size: 24px;
    background-image: url("../img/page6-choice1.png");
}

.page6-choice2 {
    width: 557px;
    height: 95px;
    margin-top: 48px;
    font-size: 24px;
    background-image: url("../img/page6-choice2.png");
}

.page6-choice3 {
    width: 557px;
    height: 126px;
    margin-top: 48px;
    font-size: 24px;
    background-image: url("../img/page6-choice3.png");
}

.page7-choice1 {
    display: none;
    padding-top: 150px;
    padding-left: 155px;
    padding-bottom: 18.5px;
}

.page7-choice13-text {
    font-size: 24px;
    width: 672px;
    height: 186px;
    margin-bottom: 282px;
    margin-right: 20px;
}

.page7-choice13-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 88px;
}

.page7-choice1-img {
    width: 646px;
    height: 848.5px;
}

.page7-choice2 {
    display: none;
    flex-direction: column;
    padding-top: 150px;
    padding-left: 155px;
    padding-bottom: 78px;
}

.page7-choice2-content {
    display: flex;
}

.page7-choice2-left {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.page7-choice2-text {
    font-size: 24px;
    padding-bottom: 8px;
}

.page7-choice2-text1 {
    width: 1130px;
}

.page7-choice2-img {
    width: 951px;
    height: 571px;
    padding-top: 68px;
}

.page7-choice2-text2 {
    font-family: Mont-Semibold;
    font-size: 28px;
    padding-top: 88px;
}

.button-play-again {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    position: relative;
    width: 310px;
    height: 57px;
    background-image: url("../img/play-again-button.png");
    transition: 0.7s;
    color: white;
    font-size: 32px;
    font-family: Mont-Semibold;
    padding-top: 8px;
    margin-left: 69px;
}

/*.button-page7-choice2:hover {*/
/*    background-image: url("../img/play-again-hover.png");*/
/*}*/

.page7-choice3 {
    display: none;
    padding-top: 150px;
    padding-left: 155px;
    padding-bottom: 40px;
}

.page7-choice3-img {
    width: 465.66px;
    height: 844px;
}

.page8 {
    display: none;
    flex-direction: column;
    padding: 150px 83px 64px 155px;
}

.page8-content {
    display: flex;
}

.page8-text1 {
    width: 1130px;
    font-size: 24px;
}

.page8-text {
    padding-top: 8px;
    font-size: 24px;
}

.page8-choice1 {
    margin-top: 60px;
    width: 557px;
    height: 95px;
    font-size: 24px;
    background-image: url("../img/page8-choice1.png");
}

.page8-choice2 {
    margin-top: 48px;
    width: 557px;
    height: 95px;
    font-size: 24px;
    text-indent: 20px;
    background-image: url("../img/page8-choice2.png");
}

.page8-choice3 {
    margin-top: 48px;
    width: 557px;
    height: 95px;
    font-size: 24px;
    background-image: url("../img/page8-choice3.png");
}

.page8-img {
    padding-top: 30px;
    width: 412px;
    height: 623px;
}

.page9-choice1 {
    display: none;
    flex-direction: column;
    padding: 150px 0 64px 155px;
}

.page9-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-page9 {
    margin-left: 100px;
}

.page9-text {
    width: 1116px;
    font-size: 24px;
    padding-bottom: 8px;
}

.page9-choice2 {
    display: none;
    flex-direction: column;
    padding: 150px 0 80px 155px;
}

.page9-choice2-text {
    width: 671px;
}

.page9-choice3 {
    display: none;
    flex-direction: column;
    padding: 150px 41px 88px 155px;
}

.page9-choice3-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
}

.page9-choice3-left {
    display: flex;
    flex-direction: column;
}

.page9-text2 {
    font-family: Mont-Semibold;
    font-size: 28px;
    padding-top: 88px;
}

.page10 {
    display: none;
    flex-direction: column;
    padding: 150px 40px 48px 155px;
}

.page10-row {
    display: flex;
}

.page10-text1 {
    width: 1130px;
    font-size: 24px;
    padding-bottom: 8px;
}

.page10-text {
    font-size: 24px;
    padding-bottom: 8px;
}

.page10-choice1 {
    margin-top: 48px;
    width: 557px;
    height: 95px;
    font-size: 24px;
    background-image: url("../img/page10-choice1.png");
}

.page10-choice2 {
    margin-top: 48px;
    width: 557px;
    height: 95px;
    font-size: 24px;
    background-image: url("../img/page10-choice2.png");
}

.page10-choice3 {
    margin-top: 48px;
    width: 557px;
    height: 95px;
    font-size: 24px;
    background-image: url("../img/page10-choice3.png");
}

.page11-choice1 {
    display: none;
    flex-direction: column;
    padding: 150px 40px 120px 155px;
}

.page11-text {
    font-size: 24px;
    width: 672px;
}

.page11-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 73px;
}

.button-page11 {
    margin-left: 150px;
    margin-top: 150px;
}

.page11-choice2 {
    display: none;
    padding: 150px 88px 35px 155px;
}

.page11-left {
    display: flex;
    flex-direction: column;
    padding-top: 131px;
}

.page11-choice2-img2 {
    width: 508px;
    height: 875px;
}

.button-page11-choice2 {
    margin-top: 375px;
    margin-left: 190px;
}

.page11-choice3 {
    display: none;
    flex-direction: column;
    padding: 150px 40px 80px 155px;
}

.page11-text3 {
    padding-bottom: 8px;
    width: 786px;
}

.page11-bottom3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page11-top {
    position: absolute;
}

.button-page11-choice3 {
    margin-top: 200px;
}

.page12 {
    display: none;
    padding: 150px 100px 100px 155px;
}

.page12-left {
    display: flex;
    flex-direction: column;
}

.page12-text {
    width: 672px;
    font-size: 24px;
}

.page12-choice1 {
    margin-top: 120px;
    margin-bottom: 48px;
    width: 557px;
    height: 95px;
    font-size: 24px;
    background-image: url("../img/page8-choice1.png");
}

.page12-choice2 {
    margin-bottom: 48px;
    width: 557px;
    height: 95px;
    font-size: 24px;
    background-image: url("../img/page8-choice2.png");
}

.page12-choice3 {
    width: 557px;
    height: 95px;
    font-size: 24px;
    background-image: url("../img/page8-choice3.png");
}

.page13-choice1 {
    display: none
;
    flex-direction: column;
    padding: 150px 0 120px 155px;
}

.page13-text {
    position: absolute;
    font-size: 24px;
    width: 672px;
}

.page13-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-page13 {
    margin-left: 130px;
}

.page13-choice2 {
    display: none;
    flex-direction: column;
    padding: 150px 0 120px 155px;
}

.button-page13-choice2 {
    margin-top: 270px;
}

.page13-choice3 {
    display: none;
    flex-direction: column;
    padding: 150px 0 120px 155px;
}

.page13-bottom3 {
    padding-top: 120px;
}

.button-page13-choice3 {
    margin-top: 190px;
}

.page14 {
    display: none;
    flex-direction: column;
    padding: 150px 40px 56px 155px;
}

.page14-top {
    position: absolute;
}

.page14-text {
    font-size: 24px;
    padding-bottom: 8px;
    width: 786px;
}

.page14-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.page14-choices {
    display: flex;
    flex-direction: column;
}

.page14-choice1 {
    margin-top: 200px;
    margin-bottom: 48px;
    width: 557px;
    height: 95px;
    font-size: 24px;
    background-image: url("../img/page8-choice2.png");
}

.page14-choice2 {
    width: 557px;
    height: 126px;
    margin-top: 48px;
    font-size: 24px;
    background-image: url("../img/page6-choice3.png");
}

.page15-choice1 {
    display: none;
    padding: 150px 72px 40px 155px;
}

.page15-choice1-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 270px;
}

.page15-choice1-img {
    padding-left: 300px;
}

.page15-choice1-text {
    font-size: 24px;
    padding-bottom: 8px;
    width: 673px;
}

.page15-choice1-texts {
    margin-top: 100px;
    position: absolute;
}

.button-page15-choice1 {
    margin-top: 250px;
}

.page15-choice2 {
    display: none;
    flex-direction: column;
    padding: 150px 0 120px 155px;
}

.page15-choice2-left {
    display: flex;
    flex-direction: column;
}

.page15-choice2-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 150px;
}

.page15-choice2-texts {
    position: absolute;
}

.page15-choice2-text {
    font-size: 24px;
    padding-bottom: 8px;
}

.page15-choice2-text1 {
    width: 901px;
}

.page15-choice2-text2 {
    width: 672px;
}

.page15-choice2-text3 {
    font-size: 28px;
    font-family: Mont-Semibold;
}

.page16 {
    display: none;
    flex-direction: column;
    padding: 150px 139px 143px 155px;
}

.page16-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}

.page16-choice1 {
    width: 557px;
    height: 281px;
    font-size: 24px;
    margin-right: 90px;
    background-image: url("../img/page16-choice1.png");
}

.page16-choice2 {
    width: 557px;
    height: 281px;
    font-size: 24px;
    background-image: url("../img/page16-choice2.png");
}

.page16-text {
    font-size: 24px;
    padding-bottom: 8px;
}

.page16-text-btn {
    width: 461px;
    height: 217px;
    padding-left: 48px;
    padding-bottom: 10px;
    text-align: left;
}

.page17-choice1 {
    display: none;
    flex-direction: column;
    padding: 150px 0 100px 155px;
}

.page17-choice1-texts {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.page17-choice1-text1 {
    width: 1016px;
    font-size: 24px;
}

.page17-choice1-text2 {
    width: 672px;
    font-size: 24px;
}

.page17-choice1-text3 {
    width: 442px;
    font-size: 24px;
}

.page17-choice1-bottom {
    display: flex;
}

.page17-choice1-img {
    padding-left: 700px;
}

.button-page17-choice1 {
    margin-left: 200px;
    margin-top: 81px;
}

.page17-choice2 {
    display: none;
    padding: 150px 0 100px 155px;
}

.page17-choice2-text {
    font-size: 24px;
    padding-bottom: 8px;
    width: 672px;
    padding-right: 62px;
}

.button-page17-choice2 {
    margin-left: 210px;
    margin-top: 150px;
}

.page17-choice2-left {
    padding-top: 58px;
}

.more-lit {
    margin-left: 229px;
    margin-right: 60px;
}

.more-lit {
    margin-top: 19px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 343px;
    height: 98px;
    background-color: #5F44C9;
    font-size: 32px;
    border-radius: 12px;
    color: white;
    font-family: Mont-Semibold;
    transition: 0.7s;
}

.more-lit:hover {
    background-color: #482CB5;
}

.play-again-button {
    margin-top: 19px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 269px;
    height: 98px;
    background-color: white;
    font-size: 32px;
    border: 3px solid #5F44C9;
    border-radius: 12px;
    color: #5F44C9;
    font-family: Mont-Semibold;
    transition: 0.7s;
}

.play-again-button:hover {
    background-color: #482CB5;
    color: white;
}

.page18 {
    display: none;
    flex-direction: column;
    padding: 155px 155px 288px 155px;
}

.page18-bottom {
    margin-top: 160px;
    display: flex;
}

.page18-text {
    font-size: 24px;
    padding-bottom: 8px;
}