@import "reset.css";

@font-face {
    font-family: Mont;
    src: url("../fonts/Mont-Regular.ttf");
}

@font-face {
    font-family: Mont-bold;
    src: url("../fonts/mont-Bold.ttf");
}

@font-face {
    font-family: Mont-Semibold;
    src: url("../fonts/MontSemiBold.ttf");
}

@font-face {
    font-family: Mont-italic;
    src: url("../fonts/MontBoldItalic.ttf");
}

@font-face {
    font-family: BogartTrial;
    src: url("../fonts/Bogart-Regular-trial.ttf");
}

@font-face {
    font-family: BogartTrialBold;
    src: url("../fonts/Bogart-Bold-trial.ttf");
}

body {
    font-family: Mont;
    color: #2D1D38;
    font-size: 24px;
}

p {
    padding-bottom: 8px;
}

.page {
    display: none;
    flex-direction: column;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 88vh;
    width: 100vw;
    background-size: 100% auto;
}

.site-header {
    background: white; !important;
    display: flex;
    padding: 40px 40px 0 40px;
    justify-content: space-between;
    position: sticky; !important;
    top: 0;
    z-index: 10;
}

.logo {
    width: 85px;
    height: 85px;
}

.header-text {
    margin-right: 38%;
    padding-top: 9px;
    font-family: BogartTrialBold;
    font-weight: bold;
    width: 496px;
    height: 68px;
}

.header-text-up {
    font-size: 32px;
    line-height: 38.4px;
}

.header-text-bottom {
    font-size: 26px;
    line-height: 31.2px;
}

.play-again {
    margin-top: 19px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 216px;
    height: 47px;
    background-color: white;
    border: 3px solid #5F44C9;
    border-radius: 8px;
    font-size: 24px;
    color: #482CB5;
    font-family: Mont-Semibold;
    transition: 0.7s;
}

.play-again:hover {
    background-color: #5F44C9;
    color: white;
}

.preface {
    display: flex;
    background-image: url("../img/noble/page1-back.png");
    padding: 50px 0 30px 155px;
    display: flex;
    column-gap: 50px;
}

.preface-content {
    display: flex;
    flex-direction: column;
    padding: 0 150px 0 0;
}

.preface-heading {
    line-height: 40.9px;
    font-family: Mont-bold;
    font-size: 32px;
    margin-bottom: 15px;
}

.preface-text {
    line-height: 30.67px;
}

.preface-text-last {
    line-height: 30.67px;
    padding-bottom: 16px;
}

.preface-bold {
    font-family: Mont-italic;
    font-weight: 700;
    font-style: italic;
    line-height: 30.67px;
    padding-bottom: 16px;
    padding-left: 32px;
}

.button-next {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    position: relative;
    width: 171px;
    height: 57px;
    background-color: #5F44C9;
    border-radius: 8px;
    transition: 0.7s;
    color: white;
    font-size: 32px;
    font-family: Mont-Semibold;
    padding-top: 8px
}

.button-next:hover {
    background-color: #482CB5;
}

.button-next-div {
    display: flex;
    justify-content: center;
}

.page2 {
    background-image: url("../img/noble/page2-back.png");
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 40px 100px 155px;
    display: none;
    column-gap: 50px;
}

.page2-text1 {
    padding-top: 122.5px;
}

.page2-text {
    width: 682px;
}

.page2-content {
    display: flex;
    flex-direction: column;
}

.button-page2-choice1 {
    margin: 52px 0 48px;
}

.img-page2-choice2 {
    filter: drop-shadow(0 0 10px rgba(45,29,56,0.1));
}

.page2-img {
    padding-top: 70px;
}

.bar-page2 {
    top: 0;
    position: fixed;
    width: 64px;
    height: 808px;
    margin: 173px 0 0 0;
}

.page3-choice1 {
    background-image: url("../img/noble/page3-choice1-back.png");
    column-gap: 50px;
    padding: 60px 0 60px 155px;
}

.row-page3 {
    display: flex;
    justify-content: space-between;
}

.page3-choice1-img {
    width: 951px;
    height: 572.14px;
    padding-top: 22.86px;
    margin-left: -180px;
}

.page3-text1 {
    padding: 72px 155px 8px 0;
}

.page3-text2-choice1 {
    width: 442px;
}

.button-page3-choice1 {
    margin-top: 119px;
}

.page3-choice2 {
    background-image: url("../img/noble/page3-choice2-back.png");
    padding: 70px 40px 78px 155px;
    column-gap: 50px;
}

.button-page3-choice2 {
    margin: 112px 0 0 136px;
}

.page3-text2-choice2 {
    width: 672px;
}

.page4 {
    background-image: url("../img/noble/page4-back.png");
    padding: 120px 40px 113px 155px;
}

.page4-bottom-content {
    display: flex;
    justify-content: space-between;
}

.choice {
    filter: drop-shadow(0 0 30px rgba(45,29,56,0.2));
    background-color: white;
    width: 557px;
    height: 157px;
    text-align: left;
    padding: 32px 48px 32px 48px;
    border-radius: 24px;
}

.choice:hover {
    filter: drop-shadow(0 0 30px rgba(45,29,56, 0.5));
}

.page4-choice3 {
    margin-top: 48px;
}

.page4-choices {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}

.page4-choice1, .page4-choice2 {
    height: 95px;
}

.page4-choice2, .page4-choice3 {
    margin-top: 48px;
}

.page4-text {
    width: 900px;
}

.page4-img {
    width: 620px;
    height: 471px;
}

.page5-choice1-2 {
    background-image: url("../img/noble/page5-choice1-back.png");
    padding: 150px 40px 78px 155px;
}

.page5-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}

.page5-text {
    position: absolute;
    width: 900px;
}

.button-page5 {
    margin: 250px 0 0 79px;
}

.page5-choice3 {
    background-image: url("../img/noble/page5-choice2-back.png");
    padding: 120px 0 78px 155px;
}

.page6 {
    background-image: url("../img/noble/page6-back.png");
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 100px 40px 155px;
}

.page6-img {
    width: 346px;
    height: 826px;
}

.page6-left {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}

.page6-text {
    padding-bottom: 12px;
    width: 786px;
}

.page6-choice1, .page6-choice2 {
    height: 95px;
    margin-top: 48px;
}

.page6-choice3 {
    height: 126px;
    margin-top: 48px;
}

.page7-choice1 {
    background-image: url("../img/noble/page7-choice1-back.png");
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0 18.5px 155px;
}

.page7-choice13-text {
    width: 672px;
    height: 186px;
    margin-bottom: 282px;
    margin-right: 20px;
}

.page7-choice13-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 88px;
}

.page7-choice1-img {
    width: 646px;
    height: 848.5px;
}

.page7-choice2 {
    background-image: url("../img/noble/page7-choice2-back.png");
    padding: 125px 0 78px 155px;
}

.page7-choice2-content {
    display: flex;
    justify-content: space-between;
}

.page7-choice2-text1, .page10-text1, .page8-text1 {
    width: 1130px;
}

.page7-choice2-img {
    width: 951px;
    height: 571px;
    margin-top: 68px;
}

.page7-choice2-text2 {
    font-family: Mont-Semibold;
    font-size: 28px;
    padding-top: 88px;
}

.button-play-again {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    position: relative;
    width: 310px;
    height: 57px;
    background-color: #5F44C9;
    border-radius: 8px;
    transition: 0.7s;
    color: white;
    font-size: 32px;
    font-family: Mont-Semibold;
    padding-top: 8px;
    margin-left: 69px;
}

.button-play-again:hover {
    background-color: #482CB5;
}

.page7-choice3 {
    background-image: url("../img/noble/page7-choice3-back.png");
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 112px 40px 155px;
}

.page7-choice3-img {
    width: 465.66px;
    height: 844px;
}

.page8 {
    background-image: url("../img/noble/page8-back.png");
    padding: 120px 83px 64px 155px;
}

.page8-content {
    display: flex;
    justify-content: space-between;
}

.page8-text {
    padding-top: 8px;
}

.page8-choice1 {
    margin-top: 60px;
    height: 95px;
}

.page8-choice2 {
    margin-top: 48px;
    height: 95px;
}

.page8-choice3 {
    margin-top: 48px;
    height: 95px;
}

.page8-buttons {
    display: flex;
    flex-direction: column;
}

.page8-img {
    width: 412px;
    height: 623px;
    margin-top: 40px;
}

.page9-choice1 {
    background-image: url("../img/noble/page9-choice1-back.png");
    padding: 120px 0 64px 155px;
}

.page9-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-page9 {
    margin-left: 136px;
}

.button-page9-choice1 {
    margin-top: 136px;
}

.page9-text {
    width: 1116px;
}

.page9-choice2 {
    background-image: url("../img/noble/page9-choice2-back.png");
    padding: 120px 0 80px 155px;
}

.page9-choice2-text {
    width: 671px;
}

.page9-choice3 {
    background-image: url("../img/noble/page9-choice3-back.png");
    padding: 120px 41px 88px 155px;
}

.page9-choice3-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
}

.page9-choice3-left {
    display: flex;
    flex-direction: column;
}

.page9-text2 {
    font-family: Mont-Semibold;
    font-size: 28px;
    padding-top: 88px;
}

.page10 {
    background-image: url("../img/noble/page10-back.png");
    padding: 120px 40px 48px 155px;
}

.page10-row {
    display: flex;
}

.page10-left {
    display: flex;
    flex-direction: column;
}

.page10-choice1, .page10-choice2, .page10-choice3 {
    margin-top: 48px;
    height: 95px;
}

.page11-choice1 {
    background-image: url("../img/noble/page11-choice1-back.png");
    padding: 150px 40px 120px 155px;
}

.page11-text, .page3-text3-choice2, .page11-text, .page12-text, .page15-choice2-text2, .page17-choice1-text2 {
    width: 672px;
}

.page11-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 73px;
}

.button-page11 {
    margin-left: 150px;
    margin-top: 150px;
}

.page11-choice2 {
    background-image: url("../img/noble/page11-choice2-back.png");
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 88px 35px 155px;
}

.page11-left {
    display: flex;
    flex-direction: column;
    padding-top: 131px;
}

.page11-choice2-img2 {
    width: 508px;
    height: 875px;
}

.button-page11-choice2 {
    margin-top: 375px;
    margin-left: 190px;
}

.page11-choice3 {
    background-image: url("../img/noble/page11-choice3-back.png");
    padding: 150px 40px 80px 155px;
}

.page11-text3 {
    width: 786px;
}

.page11-bottom3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page11-top {
    position: absolute;
}

.button-page11-choice3 {
    margin-top: 200px;
}

.page12 {
    background-image: url("../img/noble/page12-back.png");
    flex-direction: row;
    justify-content: space-between;
    padding: 150px 100px 100px 155px;
}

.page12-left {
    display: flex;
    flex-direction: column;
}

.page12-choice1 {
    margin-top: 120px;
    margin-bottom: 48px;
    height: 95px;
}

.page12-choice2 {
    margin-bottom: 48px;
    height: 95px;
}

.page12-choice3 {
    height: 95px;
}

.page12-buttons {
    display: flex;
    flex-direction: column;
}

.page12-img {
    margin-top: 30px;
    width: 412px;
    height: 623px;
}

.page13-choice1 {
    background-image: url("../img/noble/page13-choice1-back.png");
    padding: 120px 0 120px 155px;
}

.page13-choice1-img {
    margin-top: -10px;
}

.page13-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-page13 {
    margin: 230px 0 0 130px;
}

.page13-choice2 {
    background-image: url("../img/noble/page13-choice2-back.png");
    padding: 120px 0 120px 155px;
}

.button-page13-choice2 {
    margin-top: 270px;
}

.page13-choice3 {
    background-image: url("../img/noble/page13-choice3-back.png");
    padding: 120px 0 120px 155px;
}

.page13-text {
    padding-right: 613px;
}

.button-page13-choice3 {
    margin-top: 190px;
    margin-left: 139px;
}

.page14 {
    background-image: url("../img/noble/page14-back.png");
    padding: 120px 40px 56px 155px;
}

.page14-top {
    position: absolute;
}

.page14-text {
    padding-right: 510px;
}

.page14-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}

.page14-choices {
    display: flex;
    flex-direction: column;

}

.page14-choice1 {
    height: 95px;
}

.page14-choice2 {
    height: 126px;
    margin-top: 48px;
}

.page15-choice1 {
    background-image: url("../img/noble/page15-choice1-back.png");
    padding: 10px 72px 40px 155px;
}

.page15-choice1-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 270px;
}

.page15-choice1-img {
    padding-left: 300px;
}

.page15-choice1-text {
    width: 673px;
}

.page15-choice1-texts {
    margin-top: 100px;
    position: absolute;
}

.button-page15-choice1 {
    margin-top: 250px;
}

.page15-choice2 {
    background-image: url("../img/noble/page15-choice2-back.png");
    padding: 150px 0 120px 155px;
}

.page15-choice2-left {
    display: flex;
    flex-direction: column;
}

.page15-choice2-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 150px;
}

.page15-choice2-texts {
    position: absolute;
}

.page15-choice2-text1 {
    width: 901px;
}

.page15-choice2-text3 {
    font-size: 28px;
    font-family: Mont-Semibold;
}

.page16 {
    background-image: url("../img/noble/page16-back.png");
    padding: 120px 139px 143px 155px;
}

.page16-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}

.page16-choice1 {
    height: 281px;
}

.page16-choice2 {
    height: 281px;
    padding: 63px 48px 63px;
}

.page17-choice1 {
    background-image: url("../img/noble/page17-choice1-back.png");
    padding: 120px 0 100px 155px;
}

.page17-choice1-texts {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.page17-choice1-text1 {
    width: 1016px;
}

.page17-choice1-text3 {
    width: 442px;
}

.page17-choice1-bottom {
    display: flex;
}

.page17-choice1-img {
    padding: 100px 0 0 520px;
}

.button-page17-choice1 {
    margin-left: 200px;
    margin-top: 81px;
}

.page17-choice2 {
    background-image: url("../img/noble/page17-choice2-back.png");
    flex-direction: row;
    justify-content: space-between;
    padding: 70px 40px 70px 155px;
}

.page17-choice2-text {
    width: 672px;
}

.button-page17-choice2 {
    margin-left: 210px;
    margin-top: 150px;
}

.page17-choice2-left {
    padding-top: 58px;
}

.more-lit {
    margin-left: 229px;
    margin-right: 60px;
}

.more-lit {
    margin-top: 19px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 343px;
    height: 98px;
    background-color: #5F44C9;
    font-size: 32px;
    border-radius: 12px;
    color: white;
    font-family: Mont-Semibold;
    transition: 0.7s;
}

.more-lit:hover {
    background-color: #482CB5;
}

.play-again-button {
    margin-top: 19px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 269px;
    height: 98px;
    background-color: white;
    font-size: 32px;
    border: 3px solid #5F44C9;
    border-radius: 12px;
    color: #5F44C9;
    font-family: Mont-Semibold;
    transition: 0.7s;
}

.play-again-button:hover {
    background-color: #482CB5;
    color: white;
}

.page18 {
    background-image: url("../img/noble/page18-back.png");
    padding: 155px 155px 288px 155px;
}

.page18-bottom {
    margin-top: 160px;
    display: flex;
}

.more-lit-page {
    position: fixed;
    top: 50px;
    left: 155px;
    height: 764px;
    display: none;
    margin: 155px 75px 65px 0;
    filter: drop-shadow(0 0 20px rgba(45,29,56,0.2));
    border-radius: 24px;
    background-color: white;
    width: 1210px;
    font-size: 24px;
    text-align: left;
    padding: 32px 45px 32px 45px;
}

.more-lit-li {
    list-style: inside; !important;
    padding-bottom: 8px;
}

.more-lit-li::marker {
    font-size: 20px;
}

.more-let-btn {
    border-radius: 24px;
    width: 22px;
    height: 22px;
    text-align: right;
    background-image: url("../img/more-lit.png");
    transition: 0.7s;
}

.more-let-btn:hover {
    background-image: url("../img/noble/more-lit-hover.png");
}

.more-lit-li1, .more-lit-ul1 {
    width: 1070px;
}

.more-lit-li1 {
    list-style: inside; !important;
    padding-bottom: 8px;
}

.more-lit-li1::marker {
    font-size: 20px;
}

.more-lit-page-top {
    display: flex;
    justify-content: space-between;
}