@import "reset.css";

@font-face {
    font-family: Mont;
    src: url("../fonts/Mont-Regular.ttf");
}

@font-face {
    font-family: Mont-bold;
    src: url("../fonts/mont-Bold.ttf");
}

@font-face {
    font-family: Mont-Semibold;
    src: url("../fonts/MontSemiBold.ttf");
}

@font-face {
    font-family: Mont-italic;
    src: url("../fonts/MontBoldItalic.ttf");
}

@font-face {
    font-family: BogartTrial;
    src: url("../fonts/Bogart-Regular-trial.ttf");
}

@font-face {
    font-family: BogartTrialBold;
    src: url("../fonts/Bogart-Bold-trial.ttf");
}

body {
    font-family: Mont;
    color: #2D1D38;
    font-size: 24px;
}

p {
    font-size: 26px;
    padding-bottom: 8px;
    margin-bottom: 0 !important;
}
:root {
    --bs-body-line-height: unset !important;
}

.page {
    display: none;
    flex-direction: column;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 89vh;
    width: 100vw;
    background-size: 100% auto;
}

.site-header {
    background: white; !important;
    display: flex;
    padding: 40px 40px 0 40px;
    position: sticky; !important;
    top: 0;
    z-index: 10;
}

.logo {
    width: 85px;
    height: 85px;
}

.header-text {
    margin-left: 30px;
    padding-top: 9px;
    font-family: BogartTrialBold;
    width: 496px;
    height: 68px;
}

.header-text-up {
    font-size: 32px;
    line-height: 38px;
}

.header-text-bottom {
    font-size: 26px;
    line-height: 31px;
}

.play-again {
    margin-top: 19px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 216px;
    height: 47px;
    background-color: white;
    border: 3px solid #5F44C9;
    border-radius: 8px;
    font-size: 24px;
    color: #482CB5;
    font-family: Mont-Semibold;
    transition: 0.7s;
    margin-left: auto;
}

.play-again_mobile {
    display: none;
    position: absolute;
    background-image: url("../img/noble/replay_mobile.png");
    width: 36px;
    height: 34px;
    margin-top: 19px;
    right: 40px;
}

.play-again:hover {
    background-color: #5F44C9;
    color: white;
}

.preface {
    display: flex;
    background-image: url("../img/noble/page1-back.png");
    padding: 70px 0 0 155px;
    column-gap: 50px;
}

.preface-content {
    display: flex;
    flex-direction: column;
    padding: 0 150px 0 0;
}

.preface-heading {
    line-height: 40px;
    font-family: Mont-bold;
    font-size: 32px;
    margin-bottom: 15px;
}

.preface-text {
    line-height: 30px;
}

.preface-text-last {
    line-height: 30px;
    padding-bottom: 16px;
}

.preface-bold {
    font-family: Mont-italic;
    font-weight: 700;
    font-style: italic;
    line-height: 30px;
    padding-bottom: 16px;
    padding-left: 32px;
}

.button-next {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    position: relative;
    width: 171px;
    height: 63px;
    background-color: #5F44C9;
    border-radius: 8px;
    transition: 0.7s;
    color: white;
    font-size: 32px;
    font-family: Mont-Semibold;
    padding-top: 8px
}

/*.button-next_mobile {*/
/*    display: none;*/
/*    background-image: url("../img/noble/next_mobile.png");*/
/*    width: 36px;*/
/*    height: 32px;*/
/*}*/

.button-next:hover {
    background-color: #482CB5;
}

.button-next-div {
    display: flex;
    justify-content: center;
}

.button-page1 {
    margin-top: 80px;
}

.page2 {
    background-image: url("../img/noble/page2-back.png");
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 40px 100px 155px;
    column-gap: 50px;
}

.page2-text1 {
    padding-top: 122px;
}

.page2-text {
    padding-right: 60px;
}

.page2-content {
    display: flex;
    flex-direction: column;
}

.button-page2-choice1 {
    margin: 52px 0 48px;
}

.button-page2-choice1, .button-page2-choice2 {
    margin-left: 250px;
}

.img-page2-choice2 {
    filter: drop-shadow(0 0 10px rgba(45,29,56,0.1));
}

.page2-img {
    padding-top: 70px;
}

.bar-page2 {
    top: 0;
    position: fixed;
    width: 64px;
    height: 808px;
    margin: 173px 0 0 0;
}

.page3-choice1 {
    background-image: url("../img/noble/page3-choice1-back.png");
    column-gap: 50px;
    padding: 60px 0 60px 155px;
}

.row-page3 {
    display: flex;
    justify-content: space-between;
}

.page3-choice1-img {
    width: 951px;
    height: 572px;
    margin-top: 100px;
    margin-left: -180px;
}

.page3-choice1-text1, .page3-choice2-text1 {
    padding: 72px 155px 8px 0;
}

.page3-text2-choice1 {
    padding-right: 70px;
}

.button-page3-choice1 {
    margin: 319px 0 0 300px;
}

.page3-choice2 {
    background-image: url("../img/noble/page3-choice2-back.png");
    padding: 70px 40px 78px 155px;
    column-gap: 50px;
}

.button-page3-choice2 {
    margin: 312px 0 0 336px;
}

.page3-text2-choice2, .page3-text3-choice2 {
    padding-right: 30px;
}

.page3-choice2-img {
    scale: 1.1;
    margin-top: 100px;
}

.page4 {
    background-image: url("../img/noble/page4-back.png");
    padding: 120px 40px 113px 155px;
}

.page4-bottom-content {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

.choice {
    filter: drop-shadow(0 0 30px rgba(45,29,56,0.2));
    background-color: white;
    width: 557px;
    /*height: 157px;*/
    text-align: left;
    padding: 32px 48px 32px 48px;
    border-radius: 24px;
    font-size: 26px;
}

.choice:hover {
    filter: drop-shadow(0 0 30px rgba(45,29,56, 0.5));
}

.page4-choice3 {
    margin-top: 48px;
}

.page4-choices {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    position: relative;
}


.page4-choice2, .page4-choice3 {
    margin-top: 48px;
}

.page4-text {
    padding-right: 384px;
}

.page4-img {
    width: 620px;
    height: 471px;
    scale: 1.3;
    margin: 60px 100px 0 0;
}

.page5-choice1-2 {
    background-image: url("../img/noble/page5-choice1-back.png");
    padding: 150px 40px 78px 155px;
}

.page5-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}

.page5-text {
    padding-right: 385px;
}

.page5-img {
    margin-top: -70px;
}

.button-page5 {
    margin: 250px 0 0 279px;
}

.page5-choice3 {
    background-image: url("../img/noble/page5-choice2-back.png");
    padding: 120px 0 78px 155px;
}

.page6 {
    background-image: url("../img/noble/page6-back.png");
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 100px 40px 155px;
}

.page6-img {
    width: 346px;
    height: 826px;
}

.page6-left {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}

.page6-text {
    padding: 0 50px 12px 0;
}

.page6-choice1, .page6-choice2 {
    margin-top: 60px;
}

.page6-choice1, .page6-choice2, .page6-choice3 {
    scale: 1.1;
    margin-left: 350px;
}

.page6-choice3 {
    margin-top: 60px;
}

.page7-choice1 {
    background-image: url("../img/noble/page7-choice1-back.png");
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0 18px 155px;
}

.page7-choice13-text {
    margin-bottom: 282px;
    margin-right: 50px;
}

.page7-choice13-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 88px;
}

.page7-choice1-img {
    width: 646px;
    height: 848px;
    margin-top: 40px;
}

.button-page7-choice1 {
    margin-top: 250px;
}

.page7-choice2 {
    background-image: url("../img/noble/page7-choice2-back.png");
    padding: 125px 0 78px 155px;
}

.page7-choice2-content {
    display: flex;
    justify-content: space-between;
}

/*.page10-text1, .page8-text1 {*/
/*    width: 1130px;*/
/*}*/

.page7-choice2-text1, .page10-text1, .page8-text1 {
    padding-right: 10vw;
}

.page7-choice2-img {
    width: 951px;
    height: 571px;
    margin-top: 68px;
    margin-right: 50px;
    scale: 1.2;
}

.page7-choice2-text2 {
    padding-top: 88px;
}

.you-lose {
    font-family: Mont-Semibold;
    font-size: 28px;
    scale: 1.1;
    padding-left: 49px;
}

.button-play-again {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    position: relative;
    width: 310px;
    height: 57px;
    background-color: #5F44C9;
    border-radius: 8px;
    transition: 0.7s;
    color: white;
    font-size: 32px;
    font-family: Mont-Semibold;
    padding-top: 8px;
    margin-left: 69px;
}

.button-play-again:hover {
    background-color: #482CB5;
}

.page7-choice3 {
    background-image: url("../img/noble/page7-choice3-back.png");
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 112px 40px 155px;
}

.page7-choice3-img {
    width: 465px;
    height: 844px;
}

.button-page7-choice3 {
    margin-top: 150px;
}

.page8 {
    background-image: url("../img/noble/page8-back.png");
    padding: 120px 83px 64px 155px;
}

.page8-content {
    display: flex;
    justify-content: space-between;
}

.page8-text {
    padding-top: 8px;
}

.page8-choice1 {
    margin-top: 60px;
}

.page8-choice2, .page8-choice3 {
    margin-top: 48px;
}

.page8-choice1, .page8-choice2, .page8-choice3 {
    margin-left: 250px;
}

.page8-buttons {
    display: flex;
    flex-direction: column;
}

.page8-img {
    width: 412px;
    height: 623px;
    margin-top: 40px;
}

.page9-choice1 {
    background-image: url("../img/noble/page9-choice1-back.png");
    padding: 120px 0 64px 155px;
}

.page9-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-page9 {
    margin-left: 136px;
}

.button-page9-choice1 {
    margin-top: 136px;
}

.page9-text {
    padding-right: 269px;
}
.page9-text1 {
    width: 1016px;
}
.page9-choice1-img {
    scale: 1.2;
}

.page9-choice2 {
    background-image: url("../img/noble/page9-choice2-back.png");
    padding: 120px 0 80px 155px;
}

.page9-choice2-img {
    scale: 1.2;
    margin-top: -50px;
}

.page9-choice2-text {
    width: 671px;
}

.page9-choice3 {
    background-image: url("../img/noble/page9-choice3-back.png");
    padding: 120px 41px 88px 155px;
}

.page9-choice3-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
}

.page9-choice3-left {
    display: flex;
    flex-direction: column;
}

.page9-text2 {
    font-family: Mont-Semibold;
    font-size: 28px;
    padding-top: 88px;
}

.page9-choice3-img {
    scale: 1.2;
}

.page10 {
    background-image: url("../img/noble/page10-back.png");
    padding: 120px 40px 48px 155px;
}

.page10-row {
    display: flex;
}

.page10-left {
    display: flex;
    flex-direction: column;
}

.page10-choice1, .page10-choice2, .page10-choice3 {
    margin-top: 48px;
    margin-left: 250px;
}

.page11-choice1 {
    background-image: url("../img/noble/page11-choice1-back.png");
    padding: 150px 40px 120px 155px;
}

.page11-choice1-img {
    scale: 1.2;
    margin-right: 60px;
}

.page12-text, .page15-choice2-text2{
    width: 672px;
}

.page11-bottom {
    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
    padding-top: 73px;
}

.page11-text {
    padding-right: 30%;
}

.button-page11 {
    margin-left: 150px;
    margin-top: 150px;
}

.page11-choice2 {
    background-image: url("../img/noble/page11-choice2-back.png");
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 88px 35px 155px;
}

.page11-left {
    display: flex;
    flex-direction: column;
    padding-top: 131px;
}

.page11-choice2-img2 {
    width: 508px;
    height: 875px;
}



.button-page11-choice2 {
    margin-top: 375px;
    margin-left: 190px;
}

.page11-choice3 {
    background-image: url("../img/noble/page11-choice3-back.png");
    padding: 150px 40px 80px 155px;
}

.page11-bottom3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page11-top {
    position: absolute;
}

.button-page11-choice3 {
    margin-top: 200px;
}

.page12 {
    background-image: url("../img/noble/page12-back.png");
    flex-direction: row;
    justify-content: space-around;
    padding: 150px 100px 100px 155px;
}

.page12-left {
    display: flex;
    flex-direction: column;
}

.page12-choice1 {
    margin-top: 120px;
    margin-bottom: 48px;
}

.page12-choice2 {
    margin-bottom: 48px;
}

.page12-buttons {
    display: flex;
    flex-direction: column;
    position: relative;
}

.page12-img {
    margin-top: 30px;
    width: 412px;
    height: 623px;
    scale: 1.2;
}

.page13-choice1 {
    background-image: url("../img/noble/page13-choice1-back.png");
    padding: 120px 0 120px 155px;
}

.page13-choice1-img {
    margin-top: -10px;
}

.page13-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-page13 {
    margin: 230px 0 0 130px;
}

.page13-choice2 {
    background-image: url("../img/noble/page13-choice2-back.png");
    padding: 120px 0 120px 155px;
}

.button-page13-choice2 {
    margin-top: 270px;
}

.page13-choice3 {
    background-image: url("../img/noble/page13-choice3-back.png");
    padding: 120px 0 120px 155px;
}

.page13-text {
    padding-right: 613px;
}

.page13-choice2-img {
    scale: 1.2;
    margin-right: 50px;
}

.button-page13-choice3 {
    margin-top: 190px;
    margin-left: 139px;
}

.page13-choice3-img {
    scale: 1.2;
    margin-top: 40px;
}

.page14 {
    background-image: url("../img/noble/page14-back.png");
    padding: 120px 40px 56px 155px;
}

.page14-top {
    position: absolute;
}

.page14-text {
    padding-right: 510px;
}

.page14-choice1 {
    margin-top: 50px;
}

.page14-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}

.page14-choices {
    display: flex;
    flex-direction: column;

}

.page14-choice2 {
    margin-top: 48px;
}

.page15-choice1 {
    background-image: url("../img/noble/page15-choice1-back.png");
    padding: 10px 72px 40px 155px;
}

.page15-choice1-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 270px;
}

.page15-choice1-img {
    margin-top: 10px;
}

.page15-choice1-text {
    padding-right: 612px;
}

.page15-choice1-texts {
    margin-top: 100px;
    position: absolute;
}

.button-page15-choice1 {
    margin-top: 250px;
}

.page15-choice2 {
    background-image: url("../img/noble/page15-choice2-back.png");
    padding: 150px 0 120px 155px;
}

.page15-choice2-left {
    display: flex;
    flex-direction: column;
}

.page15-choice2-img {
    scale: 1.2;
    margin-right: 60px;
}
.page15-choice2-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 150px;
}

.page15-choice2-texts {
    position: absolute;
}

.page15-choice2-text1 {
    width: 901px;
}

.page15-choice2-text3 {
    font-size: 28px;
    font-family: Mont-Semibold;
}

.page16 {
    background-image: url("../img/noble/page16-back.png");
    padding: 120px 139px 143px 155px;
}


.page16-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    column-gap: 30px;
}

.page16-choice1 {
    height: 281px;
    margin-left: 100px;
}

.page16-choice2 {
    height: 281px;
    padding: 63px 48px 63px;
    position: relative;
    margin-right: 100px;
}

.page17-choice1 {
    background-image: url("../img/noble/page17-choice1-back.png");
    padding: 120px 0 100px 155px;
}

.page17-choice1-texts {
    display: flex;
    flex-direction: column;
}

.page17-choice1-text1 {
    padding-right: 20%;
}

.page17-choice1-text2 {
    padding-right: 15%;
}

.page17-choice1-text3 {
    padding-right: 30%;
}

.page17-choice1-bottom {
    display: flex;
    justify-content: space-between;
}

.page17-choice1-img {
    padding: 50px 0 0 0;
    scale: 1.2;
}

.button-page17-choice1 {
    margin-left: 200px;
    margin-top: 81px;
}

.page17-choice2 {
    background-image: url("../img/noble/page17-choice2-back.png");
    flex-direction: row;
    justify-content: space-between;
    padding: 70px 40px 70px 155px;
}

.page17-choice2-text {
    padding-right: 20%;
}

.button-page17-choice2 {
    margin-left: 210px;
    margin-top: 150px;
}

.page17-choice2-left {
    padding-top: 58px;
}

.more-lit {
    margin-right: 60px;
}

.more-lit {
    margin-top: 19px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 343px;
    height: 98px;
    background-color: #5F44C9;
    font-size: 32px;
    border-radius: 12px;
    color: white;
    font-family: Mont-Semibold;
    transition: 0.7s;
    scale: 1.1;
}

.more-lit:hover {
    background-color: #482CB5;
}

.play-again-button {
    margin-top: 19px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 269px;
    height: 98px;
    background-color: white;
    font-size: 32px;
    border: 3px solid #5F44C9;
    border-radius: 12px;
    color: #5F44C9;
    font-family: Mont-Semibold;
    transition: 0.7s;
    scale: 1.1;
}

.play-again-button:hover {
    background-color: #482CB5;
    color: white;
}

.page18 {
    background-image: url("../img/noble/page18-back.png");
    padding: 155px 155px 288px 155px;
}

.page18-bottom {
    margin-top: 160px;
    display: flex;
    justify-content: center;
}

.more-lit-page {
    position: fixed;
    top: 50px;
    left: 155px;
    height: unset;
    display: none;
    margin: 155px 75px 65px 0;
    filter: drop-shadow(0 0 20px rgba(45,29,56,0.2));
    border-radius: 24px;
    background-color: white;
    width: 90%;
    font-size: 24px;
    text-align: left;
    padding: 32px 45px 32px 45px;
}

.more-lit-li {
    list-style: inside; !important;
    padding-bottom: 8px;
}

.more-lit-li::marker {
    font-size: 20px;
}

.more-let-btn {
    border-radius: 24px;
    width: 22px;
    height: 22px;
    text-align: right;
    background-image: url("../img/more-lit.png");
    transition: 0.7s;
}

.more-let-btn:hover {
    background-image: url("../img/noble/more-lit-hover.png");
}

.more-lit-li1, .more-lit-ul1 {
    width: 1070px;
}

.more-lit-li1 {
    list-style: inside; !important;
    padding-bottom: 8px;
}

.more-lit-li1::marker {
    font-size: 20px;
}

.more-lit-page-top {
    display: flex;
    justify-content: space-between;
}

.custom-class {
    --bs-tooltip-bg: #6C6174 !important;
    --bs-tooltip-color: #fff !important;
    --bs-tooltip-padding-x: 25px !important;
    --bs-tooltip-padding-y: 20px !important;
}

.tooltip-inner {
    max-width: 750px !important;
    /*width: 750px !important;*/
    font-size: 26px;
}

.tooltip.show {
    opacity: 1 !important;
}

.btn-secondary {
    --bs-btn-color: #5F44C9 !important;
    --bs-btn-bg: unset !important;
    --bs-btn-border-color: unset !important; !important;
    --bs-btn-hover-color: #482CB5 !important;
    --bs-btn-hover-bg: unset !important;
    --bs-btn-hover-border-color: #fff !important;
    --bs-btn-focus-shadow-rgb: 130, 138, 145 !important;
    --bs-btn-active-color: #5F44C9 !important;
    --bs-btn-active-bg: unset !important;
    --bs-btn-active-border-color: unset !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: #5F44C9 !important;
    --bs-btn-disabled-bg: #fff !important;
    --bs-btn-disabled-border-color: unset !important;
    --bs-btn-font-size: 26px !important;
    vertical-align: unset !important;
    --bs-btn-padding-x: 0 !important;
    --bs-btn-padding-y: 0 !important;
    z-index: 10;
    position: relative;
}

ul, li, ol {
    margin-bottom: 0 !important;
    padding-left: 0 !important;
}

@media screen and (max-width: 1850px) {
    p, .choice {
        font-size: 24px;
    }
    .btn-secondary {
        --bs-btn-font-size: 24px !important;
    }
    .tooltip-inner {
        font-size: 24px;
    }
    .word-ip-btn {
        top: 154px;
    }
    .word-kino-btn {
        top: 296px;
    }
    .word-mak-btn {
        top: 439px;
    }
    .button-page2-choice1, .button-page2-choice2 {
        margin-left: 50px;
    }
    .more-lit-page {
        width: 85%;
    }
    .button-page3-choice1 {
        margin: 319px 0 0 20%;
    }
    .button-page3-choice2 {
        margin: 112px 0 0 136px;
    }
    .page3-choice2-img {
        scale: 1;
        margin-top: 50px;
    }
    .page4-bottom-content {
        justify-content: space-between;
    }
    .page4-img {
        scale: 1;
        margin: 40px 0 0 0;
    }
    .button-page5 {
        margin: 250px 0 0 13%;
    }
    .page6-choice1, .page6-choice2, .page6-choice3 {
        scale: 1;
        margin-left: 0;
    }
    .you-lose {
        scale: 1;
        padding-left: 0;
    }
    .page7-choice2-img, .page9-choice1-img {
        margin-right: 0;
        scale: 1;
    }
    .page8-choice1, .page8-choice2, .page8-choice3 {
        margin-left: 0;
    }
    .dictionary-word {
        font-size: 24px;
    }
    .page9-choice2-img {
        scale: 1;
        margin-top: 0;
    }
    .page9-choice3-img {
        scale: 1;
    }
    .page10-choice1, .page10-choice2, .page10-choice3 {
        margin-left: 0;
    }
    .page11-choice1-img, .page12-img {
        scale: 1;
        margin-right: 0;
    }
    .page12 {
        justify-content: space-between;
    }
    .page13-choice2-img {
        scale: 1;
    }
    .page13-choice3-img {
        scale: 1;
        margin-top: 0;
    }
    .page15-choice2-img {
        scale: 1;
        margin: 0 20px 0 0;
    }
    .page16-choice1 {
        margin-left: 0;
    }

    .page16-choice2 {
        margin-right: 0;
    }
    .word-tov-btn {
        right: 220px;
    }
    .page17-choice1-img {
        padding: 100px 0 0 0;
        scale: 1;
    }
    .play-again-button, .more-lit {
       scale: 1;
    }
}

@media screen and (max-height: 1040px) {
    .preface {
        padding-top: 90px;
        font-size: 22px;
    }
    .btn-secondary {
        --bs-btn-font-size: 24px !important;
    }
    .button-page1 {
        margin-top: 0;
    }
    .preface .dictionary-word {
        font-size: 22px;
    }
    .page3-choice1-img {
        margin-top: 20px;
    }
    .page3-choice2-img {
        scale: 0.9;
        margin-top: 0;
    }
    .page5-img {
        width: 700px;
        margin-top: -10px;
    }
    .page6-img {
        scale: 0.9;
    }
    .page7-choice1-img {
        height: 800px;
        margin-top: 0;
    }
    .page7-choice2-img, .page9-choice1-img, .page9-choice2-img {
        margin-top: -50px;
        scale: 1;
    }
    .page14-img {
        height: 650px;
    }
    .page15-choice1-img {
        height: 800px;
    }
    .page3-choice1-img {
        width: 900px;
        margin-top: 0;
    }
}

@media screen and (max-height: 975px) {
    .custom-class {
        --bs-tooltip-padding-x: 25px !important;
        --bs-tooltip-padding-y: 15px !important;
    }
    .tooltip-inner {
        font-size: 22px;
    }
    .preface-text, .preface-bold {
        line-height: 27px;
        padding-bottom: 8px;
    }
    .choice {
        padding: 25px 48px;
    }
    .preface {
        padding-top: 60px;
    }
    .preface-heading {
        font-size: 30px;
        margin-bottom: 0;
    }
    .page2-text1 {
        padding-top: 60px ;
    }
    .page3-choice1-img {
        width: 680px;
        height: 450px;
    }
    .button-page3-choice1 {
        margin-top: 170px;
    }
    .page3-choice2-img {
        margin-top: -50px;
        margin-right: -70px;
    }
    .page4 {
        padding-top: 90px;
        padding-bottom: 0;
    }

    .page4-choice2, .page4-choice3 {
        margin-top: 30px;
    }
    .page4-img {
        margin: 0;
    }

    @media screen and (min-width: 1850px) {
        .page4-img {
            margin-right: 60px;
            scale: 1;
        }
    }
    .page5-choice1-2 {
        padding-top: 130px;
    }
    .page5-img {
        margin-top: -50px;
    }
    .page6-choice1, .page6-choice2, .page6-choice3 {
        margin-top: 40px;
    }
    .page6-img {
        height: 660px;
        margin-top: 40px;
    }
    .page7-choice1-img {
        height: 660px;
        margin-top: 40px;
    }
    .page7-choice2-img {
        margin-top: 10px;
        width: 700px;
    }
    .page7-choice3-img {
        height: 650px;
        margin-top: 50px;
    }
    .page8-img {
        height: 550px;
    }
    .page8 {
        padding-top: 80px;
    }
    .page8-choice1, .page8-choice2, .page8-choice3 {
        margin-top: 30px;
    }
    .page9-choice1-img {
        scale: 1;
        width: 700px;
        margin-top: -50px;
    }
    .page9-choice2-img {
        margin-top: -180px;
    }
    .page9-choice3-img {
        width: 550px;
    }
    .page10-choice1, .page10-choice2, .page10-choice3 {
        margin-top: 30px;
    }
    .page10-img {
        height: 550px;
    }
    .page10, .page12 {
        padding-top: 80px;
    }
    .page11-choice1-img {
        width: 550px;
    }
    .page11-choice3-img {
        height: 590px;
    }
    .page13-choice1-img, . {
        width: 700px;
    }
    .page13-choice2-img {
        width: 700px;
    }
    .page14-img {
        height: 530px;
    }
    .page14 {
        padding-top: 80px;
    }
    .page15-choice1-img {
        height: 650px;
        margin-top: 40px;
    }
    .page15-choice2-img {
        width: 600px;
        margin-top: -30px;
    }
    .page16 {
        padding-top: 80px;
    }
    .page17-choice1-img {
        padding: 0 0 0 0;
        width: 600px;
    }
    .more-lit-ul, .more-lit-ul1 {
        font-size: 22px;
        padding-bottom: 0;
    }
    .page4-choices {
        padding-top: 20px;
    }
    .page14-choice1 {
        margin-top: 100px;
    }
    .page16-bottom {
        margin-top: 20px;
    }
}

@media screen and (max-height: 850px) {
    p {
        font-size: 22px;
    }
    .choice {
        font-size: 22px;
        padding: 25px 40px;
    }
    .btn {
        --bs-btn-font-size: 22px !important;
    }
    .preface {
        padding-top: 40px;
        font-size: 21px;
    }
    .preface .dictionary-word {
        font-size: 21px;
    }
    .preface-text, .preface-bold {
        padding-bottom: 5px;
    }
    .preface-content {
        padding-right: 50px;
    }
    .page3-choice1-img {
        width: 600px;
        height: 350px;
        margin-top: 30px;
    }
    .page3-text2-choice1 {
        padding-right: 100px;
    }

    .button-page3-choice1 {
        margin-top: 120px;
    }
    .page3-choice1 {
        padding-top: 30px;
        padding-bottom: 0;
    }
    .page3-choice2-img {
        scale: 0.7;
        margin-top: -90px;
        margin-right: -140px;
    }
    .button-page3-choice2 {
        margin-top: 50px;
    }
    .page4 {
        padding-top: 75px;
    }
    .page4-choices {
        padding-top: 30px;
    }
    .page4-img {
        margin-top: -20px;
        width: 550px;
        height: 430px;
    }
    .page5-choice1-2 {
        padding-top: 110px;
        padding-bottom: 100px;
    }
    .page5-img {
        margin-top: -70px;
        width: 600px;
    }
    .button-page5 {
        margin-top: 150px;
    }
    .page6-left {
        padding-top: 30px;
    }
    .page6-img {
        scale: 1;
        height: 550px;
        margin-top: 0;
    }
    .page6 {
        padding-bottom: 0;
    }
    .page7-choice1-img {
        height: 600px;
    }
    .page7-choice2-img {
        margin-top: 30px;
        width: 600px;
        height: 450px;
    }
    .page7-choice2 {
        padding-top: 110px;
    }
    .page6-choice1 {
        margin-top: 10px;
    }
    .page7-choice3-img {
        height: 550px;
        margin-top: 50px;
    }
    .page8-img {
        height: 400px;
    }
    .page8-choice1, .page8-choice2, .page8-choice3 {
        margin-top: 20px;
    }
    .page9-choice1-img {
        width: 600px;
        margin-top: 5px;
    }
    .page9-choice2-img {
        margin-top: -50px;
        width: 600px;
    }
    .page9-choice3-img {
        width: 500px;
        margin-top: -50px;
    }
    .page10 {
        padding-top: 60px;
    }
    .page10-img {
        height: 500px;
    }
    .page11-choice1-img {
        width: 450px;
    }
    .page11-choice1 {
        padding-top: 100px;
    }
    .page11-choice2-img {
        padding-top: 20px;
    }
    .button-page11-choice2 {
        margin-top: 200px;
    }
    .page11-choice3-img {
        height: 500px;
    }
    .page12-choice1, .page12-choice3 {
        margin-top: 30px;
    }
    .page12-choice2 {
        margin-bottom: 30px;
    }
    .page12-img {
        height: 500px;
        width: 320px;
    }
    .page13-choice2-img {
        width: 600px;
    }
    .page13-choice3-img {
        width: 700px;
    }

    .page15-choice2-img {
        width: 500px;
        margin-top: -60px;
    }
    .page16-bottom {
        margin-top: 30px;
    }
    .more-lit-page {
        margin-top: 100px;
        /*height: 80%;*/
    }
    .more-lit-ul, .more-lit-ul1 {
        font-size: 20px;
        padding-bottom: 0;
    }
    .page18 {
        padding-top: 100px;
    }
    .more-lit, .play-again-button {
        scale: 0.8;
    }
    .button-page7-choice1 {
        margin-top: 150px;
    }
    .button-play-again {
        scale: 0.85;
    }
    .page16-choice2, .page16-choice1 {
        height: 230px;
    }
    .page16 {
        padding-bottom: 0;
    }
}
@media screen and (max-height: 780px) {
    .choice {
        font-size: 20px;
        padding: 20px 40px;
    }
    .btn-secondary-choice {
        --bs-btn-font-size: 20px !important;
    }
    .page11-choice1-img {
        width: 400px;
    }
    .page13-choice1-img {
        width: 550px;
    }
    .page14-img {
        height: 450px;
        margin-top: -50px;
    }
    .page14 {
        padding-top: 100px;
    }
    .page15-choice1-img {
        height: 470px;
    }
    .page16-choice2, .page16-choice1 {
        height: 250px;
    }
    .page17-choice1-img {
        width: 500px;
        margin-top: -50px;
    }
    .page3-choice2-text1 {
        padding-top: 0;
    }
    .page3-choice1-text1 {
        padding-top: 40px;
    }
    .page4 {
        padding-top: 50px;
    }
    .page4-img {
        width: 500px;
        height: 400px;
    }
    .page7-choice2 {
        padding-top: 80px;
    }
    .page14-choice1 {
        margin-top: 150px;
    }
    .page14-choice2 {
        margin-top: 20px;
    }
    .button-page15-choice1 {
        margin-top: 300px;
    }
    .page16-choice2, .page16-choice1 {
        height: 200px;
    }
}

@media screen and (max-height: 750px) {
    .choice {
        font-size: 20px;
        padding: 20px 48px;
    }
    .progress_bar {
        margin-top: 0;
    }
    .page7-choice2-img {
        margin-top: -20px;
        width: 600px;
        height: 450px;
    }
    .page7-choice2 {
        padding-top: 70px;
    }
    .page6-img {
        scale: 1;
        height: 450px;
        margin-top: 0;
    }
    p {
        font-size: 20px;
    }
    .btn-secondary-piter, .btn-secondary-domna, .btn-secondary {
        --bs-btn-font-size: 20px !important;
    }
    .site-header {
        background: white !important;
        z-index: 10;
        display: flex;
        padding: 20px 40px 0 40px;
        position: sticky !important;
        top: 0;
        width: 100%;
    }

    .header-text-up {
        font-size: 28px;
        padding-bottom: 0;
    }

    .header-text-bottom {
        font-size: 22px;
        padding-bottom: 0;
    }

    .logo, .button-next, .play-again {
        scale: 0.8;
    }
    .page {
        margin-top: 0;
    }
    .preface-bar {
        margin-top: 10px;
    }
    .page4-img {
        width: 450px;
        height: 350px;
    }
    .page5-img {
        width: 500px;
    }
    .page5-choice1-2 {
        padding-top: 70px;
    }
    .page6-choice1, .page6-choice2, .page6-choice3 {
        margin-top: 20px;
    }
    .page7-choice1-img {
        height: 490px;

    }
    .page7-choice3-img {
        height: 480px;
        margin-top: 60px;
    }
    .page8 {
        padding-top: 30px;
    }
    .page9-choice1-img {
        margin-top: -20px;
    }
    .page9-choice2-img {
        margin-top: -50px;
        width: 500px;
    }
    .page9-choice3-img {
        width: 400px;
        margin-top: -10px;
    }
    .page9-choice1 {
        padding-top: 70px;
    }
    .page9-choice3-bottom {
        padding-top: 0;
    }
    .page10-img {
        height: 450px;
    }
    .page11-choice1 {
        padding-top: 60px;
    }
    .page11-choice3 {
        padding-top: 80px;
    }
    .page12-img {
        height: 460px;
        width: 300px;
        margin-top: -10px;
    }
    .page12-choice1, .page12-choice3 {
        margin-top: 20px;
    }
    .page12-choice2 {
        margin-bottom: 20px;
    }
    .page13-choice2-img {
        width: 500px;
        margin-top: -20px;
    }
    .button-page13-choice2 {
        margin-top: 200px;
    }
    .page13-choice3-img {
        width: 590px;
    }
    .page14 {
        padding-top: 80px;
    }
    .page15-choice2-img {
        width: 400px;
        margin-top: -100px;
    }
    .page15-choice2-bottom {
        padding-top: 200px;
    }
    .page15-choice2 {
        padding-top: 80px;
    }
    .page16-choice2, .page16-choice1 {
        height: 200px;
    }
    .page16 {
        padding-top: 70px;
    }
    .page17-choice2-left {
        padding-top: 0;
    }
    .more-lit-page {
        margin-top: 90px;
        /*height: 70%;*/
    }
    .more-lit-ul, .more-lit-ul1 {
        line-height: 24px;
        font-size: 18px;
    }
    .button-page3-choice2 {
        margin-top: 50px;
    }
    .button-page7-choice3 {
        margin-top: 50px;
    }
    .page8 {
        padding-top: 70px;
    }
    .page18 {
        padding-top: 80px;
    }
    .page18-bottom {
        margin-top: 100px;
    }
    .page6 {
        padding-top: 70px;
    }
}
@media screen and (max-width: 2250px) {
    .button-page1 {
        margin-top: 100px;
    }
}
@media screen and (max-width: 1750px) {
    .button-page1 {
        margin-top: 50px;
    }
}
@media screen and (max-width: 1550px) {
    .button-page1 {
        margin-top: 20px;
    }
}

@media screen and (max-height: 645px) {
    .page7-choice2-img {
        margin-top: 0;
        width: 450px;
        height: 300px;
    }
    .page7-choice2-text2 {
        padding-top: 0;
    }
    .page7-choice2 {
        padding-top: 55px;
    }
    .you-lose {
        font-size: 24px;
        scale: 1;
        padding-left: 0;
    }
    .page18 {
        padding-top: 60px;
    }
    .page6-left {
        padding-top: 0;
    }
    .page6-img {
        height: 400px;
        margin-top: 0;
    }
    .choice {
        padding: 10px 48px;
    }
    .page7-choice1-img {
        scale: 1;
        height: 350px;
        margin-top: 80px;
    }
    .page7-choice3-img {
        height: 400px;
        margin-top: 40px;
    }
    .page9-choice1-img {
        width: 430px;
        margin-top: -30px;
    }
    .page9-choice2-img {
        margin-top: -130px;
        width: 400px;
    }
    .page9-choice3-bottom {
        padding-top: 0;
    }
    .you-lose {
        font-size: 22px;
    }
    .page9-choice3 {
        padding-top: 50px;
    }
    .page9-choice3-img {
        width: 350px;
    }
    .page10-img {
        height: 400px;
    }
    .page11-choice1 {
        padding-top: 50px;
    }
    .page11-choice3-img {
        height: 400px;
    }
    .page12-img {
        height: 350px;
        width: 230px;
        margin-top: -10px;
    }
    .page12 {
        padding-top: 50px;
    }
    .page13-choice2-img {
        width: 500px;
        margin-top: -100px;
    }
    .page13-choice2 {
        padding-top: 100px;
    }
    .page13-choice3-img {
        width: 500px;
        margin-top: -50px;
    }
    .page14 {
        padding-top: 50px;
    }
    .page15-choice1-img {
        height: 400px;
        margin-top: 50px;
    }
    .page15-choice1-texts {
        margin-top: 65px;
    }
    .page16-text {
        padding-bottom: 3px;
    }
    .page16-choice2, .page16-choice1 {
        height: 200px;
    }
    .page17-choice1 {
        padding-top: 70px;
    }
    .page3-choice1-img {
        width: 500px;
        height: 300px;
        margin-top: 0;
    }
    .page5-img {
        width: 450px;
    }
    .page5-choice3 {
        padding-top: 90px;
    }
    .button-page7-choice1 {
        margin-top: 50px;
    }
    .page8-img {
        height: 300px;
    }
    .page11-choice1-img {
        width: 350px;
    }
    .button-page11-choice2 {
        margin-top: 100px;
    }
    .page14-img {
        height: 350px;
    }
    .page15-choice2 {
        padding-top: 50px;
    }
    .page16 {
        padding-top: 40px;
    }
    .page18-bottom {
        margin-top: 50px;
    }
    .page4 {
        padding-top: 30px;
    }
}
img { pointer-events: none; }

@media screen and (max-height: 500px) {
    .logo {
        width: 39px;
        height: 39px;
        margin-top: 16px;
        scale: unset;
    }

    .site-header {
        position: relative;
        padding: 0 0 0 40px;
    }

    .header-text {
        width: 217px;
        height: 28px;
        margin-left: 8px;
        padding-top: 18px;
    }

    .header-text-up {
        font-size: 14px;
        line-height: unset;
        height: 18px;
    }

    .header-text-bottom {
        font-size: 10px;
        line-height: unset;
    }

    .play-again {
        display: none;
    }

    .play-again_mobile {
        display: unset;
    }

    .preface {
        padding: 8px 0 0 40px;
    }

    .preface-heading {
        font-size: 12px;
        line-height: unset;
    }

    .preface-text {
        font-size: 10px;
        line-height: unset;
        padding-bottom: 2px;
    }

    .dictionary-word {
        font-size: 10px !important;
    }

    .preface-text-last {
        font-size: 10px;
        line-height: unset;
        padding-bottom: 0;
    }

    .preface-bold {
        font-size: 9px;
        padding-left: 16px;
        line-height: 12px;
    }

    p {
        padding-bottom: unset;
    }

    .button-next {
        margin-top: unset;
        display: unset;
        justify-content: unset;
        position: unset;
        width: 36px;
        height: 32px;
        background-color: unset;
        border-radius: unset;
        transition: unset;
        color: transparent;
        font-size: unset;
        font-family: unset;
        padding-top: unset;
        background-image: url("../img/noble/next_mobile.png");
        text-indent: -9999em;
        text-transform: uppercase;
    }

    main {
        position: relative !important;
    }

    .progress_bar {
        transform: rotate(0deg) !important;
        position: absolute !important;
        top: 280px !important;
        left: 41px !important;
        margin: 0 !important;
        width: 458px !important;
    }

    .progress_bar li {
        bottom: 0 !important;
        right: 0 !important;
    }

    .button-next-div {
        position: relative;
    }

    .button-next {
        position: absolute;
        left: 492px;
        top: -10px;
    }
}



