@import "reset.css";

@font-face {
    font-family: Mont;
    src: url("../fonts/Mont-Regular.ttf");
}

@font-face {
    font-family: Mont-bold;
    src: url("../fonts/mont-Bold.ttf");
}

@font-face {
    font-family: Mont-Semibold;
    src: url("../fonts/MontSemiBold.ttf");
}

@font-face {
    font-family: Mont-italic;
    src: url("../fonts/MontBoldItalic.ttf");
}

@font-face {
    font-family: BogartTrial;
    src: url("../fonts/Bogart-Regular-trial.ttf");
}

@font-face {
    font-family: BogartTrialBold;
    src: url("../fonts/Bogart-Bold-trial.ttf");
}

@font-face {
    font-family: Mont-Heavy;
    src: url("../fonts/ofont.ru_Mont.ttf");
}

body {
    background-color: white;
    font-family: Mont !important;
    line-height: unset !important;
    color: black !important;
}

.page {
    display: none;
    flex-direction: column;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 88vh;
    width: 100vw;
    background-size: 100% auto;
    margin-top: 30px;
}

.you-lose {
    font-family: Mont-Semibold;
    font-size: 28px;
    width: 421px;
}

button {
    line-height: unset !important;
}

.dictionary-word {
    color: #9FC625;
    transition: .75s;
    font-size: 26px;
}

.dictionary-word:hover {
    color: #93B91E;
    .dictionary-word-popup {
        visibility: unset;
    }
}

.dictionary-word-popup {
    visibility: hidden;
    position: absolute;
    border-radius: 7px;
    background: #6C6174;
    max-width: 500px;
    text-align: left;
    padding: 20px 30px;
    color: white;
    font-size: 24px;
    z-index: 10;
}

.site-header {
    background: white; !important;
    z-index: 10;
    display: flex;
    padding: 40px 40px 0 40px;
    position: sticky; !important;
    top: 0;
    width: 100%;
}

.logo {
    width: 85px;
    height: 85px;
}

.header-text {
    margin-left: 30px;
    padding-top: 9px;
    font-family: BogartTrialBold;
    font-weight: bold;
    width: 496px;
    height: 68px;
}

.header-text-up {
    font-size: 32px;
    line-height: 38.4px;
}

.header-text-bottom {
    font-size: 26px;
    line-height: 31.2px;
}

.play-again {
    margin-top: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 56px;
    background-color: white;
    font-size: 26px;
    border: 3px solid #9FC625;
    border-radius: 8px;
    color: #9FC625;
    font-family: Mont-Semibold;
    transition: 0.7s;
    margin-left: auto;
}

.play-again:hover {
    background-color: #9FC625;
    color: white;
}

.button-play-again {
    width: 310px;
    height: 57px;
    background-color: #9FC625;
    border-radius: 8px;
    transition: 0.7s;
    color: white;
    font-size: 32px;
    font-family: Mont-Semibold;
}

.button-play-again:hover {
    background-color: #93B91E;
}

.choice {
    filter: drop-shadow(0 0 30px rgba(45,29,56,0.2));
    border-radius: 24px;
    background-color: white;
    width: 557px;
    font-size: 26px;
    text-align: left;
    padding: 32px 48px 32px 48px;
}

.choice:hover {
    filter: drop-shadow(0 0 30px rgba(45,29,56, 0.5));
}

.button-next {
    display: flex;
    justify-content: center;
    width: 171px;
    height: 62px;
    background-color: #9FC625;
    border-radius: 8px;
    transition: 0.7s;
    color: white;
    font-size: 32px;
    font-family: Mont-Semibold;
    padding-top: 8px;
    scale: 1.2;
}

.button-next:hover {
    background-color: #93B91E;
}

p {
    /*width: 1130px;*/
    font-size: 26px;
    padding-bottom: 8px !important;
    margin: 0 !important;
}

.preface {
    display: flex;
    padding: 120px 155px 184px 155px;
    background-image: url("../img/peasant/page1-back.png");
}

.preface-text {
    width: 1600px;
    z-index: 10;
    position: relative;
}

.preface-heading {
    font-family: Mont-Heavy;
    font-size: 34px;
    padding-bottom: 16px !important;
}

.button-page1 {
    margin: 256px 0 0 700px;
}

.page2 {
    padding: 90px 155px 37px 155px;
    background-image: url("../img/peasant/page2-back.png");
}

.page2-text {
    width: 1700px;
    padding-bottom: 53px !important;
}

.button-page2 {
    margin-left: 200px;
}

.button-page2-choice1, .button-page2-choice2, .button-page2-choice3 {
    width: 1130px;
    margin-bottom: 48px;
}

.button-page2-choice3 {
    margin-bottom: 0;
}

.page3-choice1 {
    padding: 80px 40px 0 155px;
    background-image: url("../img/peasant/page3-choice1-back.png");
}

.page3-choice1-text1 {
    padding-top: 90px !important;
}

.page3-choice1-bottom {
    display: flex;
    justify-content: space-between;
}

.page3-choice1-img {
    margin-right: 50px;
}
.page3-choice1-text2 {
    width: 742px;
}

.button-page3-choice1 {
    margin: 243px 0 0 282px;
}

.page3-choice2 {
    padding: 0 40px 0 155px;
    background-image: url("../img/peasant/page3-choice2-back.png");
}

.page3-choice2-text {
    padding-top: 120px !important;
}

.page3-choice2-bottom {
    display: flex;
    justify-content: space-between;
}

.button-page3-choice2 {
    margin: 376px 0 0 70px;
}

.page3-choice3 {
    padding: 0 40px 0 155px;
    background-image: url("../img/peasant/page3-choice2-back.png");
}

.page3-choice3-text {
    width: 1000px;
}

.page3-choice2-img {
    margin-top: -60px;
}
.page3-choice3-text2 {
    padding-top: 120px !important;
}

.page3-choice3-bottom {
    display: flex;
    justify-content: space-between;
}

.page3-choice3-text1 {
    padding: 300px 0 40px 0 !important;
}

.page3-choice3-img {
    scale: 1.2;
    margin: -100px 46px 0 0;
}

.button-page3-choice3 {
    margin-left: 60px;
}

.page4 {
    padding: 0 56px 10px 155px;
    background-image: url("../img/peasant/page4-back.png");
}

.page4-text2 {
    padding-top: 135px !important;
}
.page4-text {
    padding-right: 5vw;
}

.page4-left {
    display: flex;
    flex-direction: column;
}

.page4-bottom {
    padding-top: 60px;
    display: flex;
    justify-content: space-around;
    column-gap: 30px;
}

.page4-img {
    padding-top: 14px;
}

.button-page4-choice2 {
    margin-top: 32px;
}

.page5-choice1 {
    padding: 155px 0 0 155px;
    background-image: url("../img/peasant/page5-choice1-back.png");
}

.page13-choice2-text {
    width: 900px;
}

.page5-text {
    width: 1650px;
}

.page5-bottom {
    display: flex;
    justify-content: space-between;
}

.button-page5-choice1, .button-page5-choice2 {
    margin: 344px 0 0 250px;
}

.page5-choice2 {
    padding-top: 155px;
    padding-left: 155px;
    background-image: url("../img/peasant/page5-chocie2-back.png");
}

.page5-choice1-img {
    margin: 50px 100px 0 0;
    scale: 0.95;
}

.page5-choice2-img {
    scale: 1;
    margin: 60px 150px 0 0;
}

.page6 {
    background-image: url("../img/peasant/page6-back.png");
    padding: 100px 40px 101px 155px;
}

.page6-text {
    width: 1600px;
}

.page6-left {
    display: flex;
    flex-direction: column;
}

.page6-bottom {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    column-gap: 30px;
}

.page6-img {
    margin-bottom: 30px;
    scale: 1.15;
}

.button-page6-choice1 {
    margin-bottom: 48px;
}

.page7-choice1 {
    background-image: url("../img/peasant/page7-choice1-back.png");
    padding: 155px 40px 50px 155px;
}

.page7-choice1-bottom {
    display: flex;
    justify-content: space-between;
}

.page7-choice1-text1, .page11-choice1-text{
    width: 672px;
}

.page7-choice1-text2 {
    width: 442px;
}

.page7-choice1-img {
    scale: 1.2;
    margin-right: 120px;
    margin-top: -130px;
}

.button-page7-choice1 {
    margin: 243px 0 0 134px;
}

.page7-choice2 {
    background-image: url("../img/peasant/page7-choice2-back.png");
    padding: 155px 0 0 155px;
}

.page7-choice2-text2 {
    width: 557px;
}

.page7-choice2-img {
    margin: -190px 0 0 0;
}

.page7-choice2-bottom {
    display: flex;
    justify-content: space-between;
}

.button-page7-choice2 {
    margin: 267px 0 0 220px
}

.page8 {
    background-image: url("../img/peasant/page8-back.png");
    padding: 155px 83px 64px 155px;
}

.page8-img {
    margin: 10px 60px 0 0;
}

.page8-bottom {
    display: flex;
    justify-content: space-between;
}

.page8-text2 {
    width: 700px;
    padding-bottom: 95px !important;
}

.page8-left {
    display: flex;
    flex-direction: column;
}

.page8-div {
    position: relative;
}

.page8-text1 {
    z-index: 10;
    position: relative;
}

.button-page8-choice1, .button-page8-choice2 {
    margin: 0 0 48px 100px;
}

.page9-choice1 {
    background-image: url("../img/peasant/page9-choice1-back.png");
    padding: 155px 0 80px 155px;
}

.page9-choice1-text {
    padding-right: 5vw;
}

.page9-choice1-img {
    scale: 1.2;
}

.button-page9-choice1 {
    margin: 285px 0 0 300px;
}

.page9-choice1-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 58px;
}

.page9-choice2 {
    background-image: url("../img/peasant/page9-choice2-back.png");
    padding: 155px 0 59px 155px;
}

.page9-choice2-text2 {
    width: 672px;
}

.page9-choice2-text1 {
    padding-right: 10vw;
}
.page9-choice2-bottom, .page17-choice1-bottom {
    display: flex;
    justify-content: space-between;
}

.page9-choice2-text3 {
    padding-top: 163px !important;
    margin-left: 200px !important;
}

.button-page9-choice2 {
    margin: 44px 0 0 255px;
}

.page9-choice2-img {
    margin-top: 50px;
}

.page10 {
    background-image: url("../img/peasant/page10-back.png");
    padding: 120px 10px 40px 155px;
}

.page10-text1 {
    padding-right: 6vw;
}

.page10-text2 {
    padding-right: 24vw;
}

.page10-bottom {
    display: flex;
    justify-content: space-around;
    column-gap: 30px;
}

.button-page10-choice1, .button-page10-choice2 {
    width: 557px;
    margin-top: 24px;
    padding: 47px 48px;
}

.page11-choice1 {
    background-image: url("../img/peasant/page11-choice1-back.png");
    padding: 155px 40px 120px 155px;
}

.page11-choice1-bottom {
    display: flex;
    justify-content: space-between;
}

.button-page11-choice1 {
    margin: 336px 0 0 250px;
}

.page11-choice1-img {
    scale: 1.1;
    margin: -70px 0 0 0;
}

.page11-choice2 {
    background-image: url("../img/peasant/page11-choice2-back.png");
    flex-direction: row;
    justify-content: space-between;
    padding: 130px 88px 35px 155px;
    margin-top: 30px;
}

.page11-choice2-left {
    padding-top: 10px;
}

.page11-choice2-text2 {
    margin: 145px 0 0 276px !important;
}

.button-page11-choice2 {
    margin: 44px 0 0 331px;
}

.page11-choice2-text {
    width: 1200px;
}

.page12 {
    background-image: url("../img/peasant/page12-back.png");
    justify-content: space-between;
    flex-direction: row;
    padding: 100px 100px 70px 155px;
}

.page12-left {
    display: flex;
    flex-direction: column;
}

.page12-text {
    padding-right: 100px;
}

.button-page12-choice1, .button-page12-choice2 {
    width: 700px;
    margin: 48px 0 0 200px;
}

.page13-choice1 {
    background-image: url("../img/peasant/page13-choice1-back.png");
    padding: 155px 0 120px 155px;
}

.page13-choice1-bottom {
    display: flex;
    justify-content: space-between;
}

.page13-choice1-img {
    margin-top: -100px;
    margin-right: 100px;
    scale: 1.2;
}

.page13-choice1-text {
    padding-right: 50vw;
}

.button-page13-choice1 {
    margin: 305px 0 0 234px;
}

.page13-choice2 {
    background-image: url("../img/peasant/page13-choice2-back.png");
    padding: 135px 0 120px 155px;
}

.page13-choice2-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.page13-choice2-text2 {
    padding-top: 273px !important;
    margin-left: 100px !important;
}

.button-page13-choice2 {
    margin: 44px 0 0 149px;
}

.page14 {
    background-image: url("../img/peasant/page14-back.png");
    padding: 100px 40px 0 155px;
}

.page14-left {
    position: relative;
    display: flex;
    flex-direction: column;
}

.page14-text {
    padding-right: 5vw;
}

.page14-bottom {
    display: flex;
    justify-content: space-between;
}

.page14-img {
    margin-bottom: 40px;
}

.button-page14-choice1, .button-page14-choice2 {
    width: 671px;
    font-size: 24px;
    margin: 0 0 48px 200px;
}

.button-page14-choice3 {
    width: 671px;
    font-size: 24px;
    margin: 0 0 0 200px;
}

.button-page14-choice1 {
    margin-top: 24px;
}

.page15-choice1, .page15-choice2 {
    background-image: url("../img/peasant/page15-back.png");
    padding: 50px 0 0 155px;
}

.page15-choice3 {
    background-image: url("../img/peasant/page15-back.png");
    padding: 50px 0 0 155px;
    flex-direction: row;
    justify-content: space-between;
}

.page15-choice1-text {
    padding-right: 20vw;
}

.page15-left {
    display: flex;
    flex-direction: column;
    padding-top: 86px;
}

.button-page15-choice1 {
    margin: 306px 0 0 451px;
}

.page15-bottom {
    display: flex;
    justify-content: space-between;
}

.button-page15-choice2 {
    margin: 283px 0 0 451px;
}

.page15-choice2-text {
    padding-right: 35vw;
}

.page15-choice2-img {
    margin-top: 40px;
}

.page15-choice3-img {
    margin-bottom: 30px;
}

.page15-text2 {
    padding-top: 171px !important;
    margin-left: 298px !important;
}

.button-page15-choice3 {
    margin: 36px 0 0 353px;
}

.page15-choice3-text {
    padding-right: 9vw;
}

.page16 {
    background-image: url("../img/peasant/page16-back.png");
    padding: 100px 50px 0 155px;
}

.page16-bottom {
    display: flex;
    justify-content: space-around;
    padding-top: 32px;
    column-gap: 30px;
    align-items: center;
}

.page16-left {
    display: flex;
    flex-direction: column;
}

.page16-img {
    width: 629px;
    height: 429px;
    scale: 1.2;
}

.button-page16-choice1, .button-page16-choice2 {
    width: 544px;
}

.button-page16-choice2 {
    margin-top: 32px;
}

.page16-text1, .page16-text2 {
    padding-right: 15vw;
}

.page17-choice1-text {
    width: 1600px;
}

.page17-choice1 {
    background-image: url("../img/peasant/page17-choice1-back.png");
    padding: 155px 0 100px 155px;
}

.page17-choice1-text2 {
    margin: 332px 0 44px 87px !important;
}

.page17-choice1-img {
    scale: 1.3;
}

.button-page17-choice1 {
    margin-left: 142px;
}

.page17-choice2 {
    background-image: url("../img/peasant/page17-choice2-back.png");
    flex-direction: row;
    justify-content: space-between;
    padding: 105px 40px 72px 155px;
}

.page17-choice2-left {
    padding-top: 58px;
}

.page17-choice2-text {
    width: 1100px;
}
.button-page17-choice2 {
    margin: 213px 0 0 451px;
}

.more-lit {
    margin-right: 8%;
}

.more-lit {
    margin-top: 19px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 343px;
    height: 98px;
    background-color: #9FC625;
    font-size: 32px;
    border-radius: 12px;
    color: white;
    font-family: Mont-Semibold;
    transition: 0.7s;
    scale: 1.1;
}

.more-lit:hover {
    background-color: #C2F86A;
}

.play-again-button {
    margin-top: 19px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 269px;
    height: 98px;
    background-color: white;
    font-size: 32px;
    border: 3px solid #9FC625;
    border-radius: 12px;
    color: #9FC625;
    font-family: Mont-Semibold;
    transition: 0.7s;
    scale: 1.1;

}

.play-again-button:hover {
    background-color: #9FC625;
    color: white;
}

.page18 {
    background-image: url("../img/peasant/page18-back.png");
    padding: 155px 155px 288px 155px;
}

.page18-text {
    width: 100%;
}

.page18-buttons {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    padding-top: 152px;
}

.more-lit-page {
    position: fixed;
    top: 50px;
    left: 150px;
    height: 77vh;
    display: none;
    margin: 155px 75px 65px 0;
    filter: drop-shadow(0 0 20px rgba(45,29,56,0.2));
    border-radius: 24px;
    background-color: white;
    width: 88vw;
    font-size: 26px;
    text-align: left;
    padding: 60px 60px;
    /*padding: 32px 45px 32px 45px;*/
}

.more-lit-li {
    list-style: inside; !important;
    padding-bottom: 8px;
}

.more-lit-li::marker {
    font-size: 20px;
}

.more-let-btn {
    border-radius: 24px;
    width: 22px;
    height: 22px;
    text-align: right;
    background-image: url("../img/more-lit.png");
    transition: 0.7s;
}

.more-let-btn:hover {
    background-image: url("../img/peasant/more-lit-hover.png");
}

.more-lit-li1, .more-lit-ul1 {
    width: 1070px;
}

.more-lit-li1 {
    list-style: inside; !important;
    padding-bottom: 8px;
}

ul, li, ol {
    margin-bottom: 0 !important;
    padding-left: 0 !important;
}

.more-lit-li1::marker {
    font-size: 20px;
}

.more-lit-page-top {
    display: flex;
    justify-content: space-between;
}
.word-kulak {
    right: 70px;
    top: 350px;
}

.custom-class {
    --bs-tooltip-bg: #6C6174 !important;
    --bs-tooltip-color: #fff !important;
    --bs-tooltip-padding-x: 25px !important;
    --bs-tooltip-padding-y: 20px !important;
}

.tooltip-inner {
    max-width: 750px !important;
    /*width: 750px !important;*/
    font-size: 26px;
}

.tooltip.show {
    opacity: 1 !important;
}

.btn-secondary {
    --bs-btn-color: #9FC625 !important;
    --bs-btn-bg: #fff !important;
    --bs-btn-border-color: #fff !important; !important;
    --bs-btn-hover-color: #93B91E !important;
    --bs-btn-hover-bg: #fff !important;
    --bs-btn-hover-border-color: #fff !important;
    --bs-btn-focus-shadow-rgb: 130, 138, 145 !important;
    --bs-btn-active-color: #9FC625 !important;
    --bs-btn-active-bg: #fff !important;
    --bs-btn-active-border-color: #fff !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: #9FC625 !important;
    --bs-btn-disabled-bg: #fff !important;
    --bs-btn-disabled-border-color: #fff !important;
    --bs-btn-font-size: 26px !important;
    vertical-align: unset !important;
    --bs-btn-padding-x: 0 !important;
    --bs-btn-padding-y: 0 !important;
}

@media screen and (max-width: 1850px) {
    p, .dictionary-word, .choice {
        font-size: 24px;
    }
    .btn-secondary {
        --bs-btn-font-size: 24px !important;
    }
    .tooltip-inner {
        font-size: 24px;
    }
    .preface-text {
        width: 1016px;
    }
    .button-page1 {
        margin-left: 500px;
    }
    .preface-heading {
        font-size: 32px;
    }
    .page3-choice1-text2 {
        width: 442px;
    }
    .button-page3-choice1 {
        margin: 243px 0 0 82px;
    }
    .page3-choice1 {
        padding-top: 60px;
    }
    .button-next {
        scale: 1;
    }
    .dictionary-word-popup {
        font-size: 20px;
    }
    .page3-choice3-img {
        scale: 1;
        margin: -100px -45px 0 0;
    }
    .page3-choice3-text1 {
        padding-top: 350px;
    }
    .page4-bottom {
        padding-top: 30px;
    }
    .button-page5-choice1, .button-page5-choice2 {
        margin-left: 100px;
    }
    .page6-text {
        width: 786px;
    }
    .page5-choice1-img {
        margin-left: 30px;
    }
    .page5-choice2-img {
        margin: 60px 50px 0 0;
    }
    .page5-text {
        width: 900px;
    }
    .page7-choice2-img {
        width: 800px;
        margin: -190px 0 0 0;
    }
    .page8-img {
        scale: 1;
        margin-right: 60px;
        margin-top: 10px;
    }
    .page8-text2 {
        padding-bottom: 68px !important;
    }
    .button-page8-choice1, .button-page8-choice2 {
        margin-left: 0;
    }
    .page9-choice1-img {
        scale: 1;
    }
    .button-page9-choice1 {
        margin: 285px 0 0 130px;
    }
    .word-revol1 {
        left: 180px;
    }
    .word-preobraz {
        left: 650px;
    }
    .word-kulak {
        left: 650px;
    }
    .button-page9-choice2 {
        margin-left: 55px;
    }
    .page9-choice2-text3 {
        margin-left: 0 !important;
    }

    .page11-choice1-img {
        scale: 1;
    }
    .button-page11-choice1 {
        margin-left: 150px;
    }
    .page9-choice1-text {
        padding-right: 7vw;
    }
    .page9-choice2-text, .page3-choice3-text, .page11-choice2-text, .page15-text, .page17-choice2-text {
        width: 672px;
    }
    .page11-choice2-text2 {
        margin-left: 76px !important;
    }
    .button-page11-choice2 {
        margin-left: 131px;
    }
    .button-page12-choice1, .button-page12-choice2 {
        margin: 48px 0 0 100px;
        width: 571px;
    }
    .button-page13-choice1 {
        margin: 305px 0 0 234px;
    }
    .page13-choice1-img {
        scale: 1;
        margin-right: 50px;
    }
    .page13-choice2-text2 {
        margin-left: 0 !important;
    }
    .button-page13-choice2 {
        margin: 44px 0 0 49px;
    }
    .button-page14-choice1, .button-page14-choice2, .button-page14-choice3 {
        margin-left: 0;
    }
    .button-page15-choice2, .button-page15-choice1, .page15-text2 {
        margin-left: 101px !important;
    }
    .button-page15-choice3 {
        margin-left: 98px;
    }
    .page17-choice1-text {
        width: unset;
        padding-right: 20vw;
    }
    .button-page17-choice2 {
        margin: 213px 0 0 251px;
    }
    .word-nap {
        width: 400px;
        left: 430px;
    }
    .more-lit, .play-again-button {
        scale: 1;
    }
    .more-lit {
        margin-right: 3%;
    }
    .more-lit-page {
        height: 70vh;
        width: 83vw;
        font-size: 24px;
        padding: 32px 45px 32px 45px;
    }
    .page16-bottom {
        justify-content: space-between;
    }
    .page16-img {
        scale: 1;
    }
}

@media screen and (max-width: 1750px) {
    .button-page2 {
        margin-left: 0;
    }
    .page6-img {
        margin: 30px 0 0 0;
        scale: 1;
    }
    .page7-choice1-img {
        scale: 1;
        margin-top: -10px;
        margin-right: 30px;
    }
    .button-page7-choice2 {
        margin-left: 138px;
    }
    .page11-choice1-img {
        scale: 1;
        margin: 0;
    }
    .button-page12-choice1, .button-page12-choice2 {
        margin: 48px 0 0 0;
    }
    .page17-choice1-img {
        scale: 1;
    }
    .page3-choice2-img {
        margin-top: 0;
    }
}

@media screen and (max-height: 1040px) {
    .page3-choice1-text1 {
        padding-top: 120px !important;
    }
    .page3-choice1-img {
        margin: 50px 40px 0 0 ;
        width: 800px;
    }
    .page3-choice2-img {
        width: 68%;
    }
    .page4-img {
        width: 600px;
        height: 450px;
        padding-top: 0;
    }
    .page4-text2 {
        padding-top: 120px !important;
    }
    .page5-choice2 {
        padding-top: 120px;
    }
    .page14 {
        padding-top: 60px;
    }
    .more-lit-page {
        font-size: 22px;
        margin-top: 100px;
        height: 80vh;
    }
    .page5-choice1-img {
        margin-top: 0;
    }
    .page8-img {
        height: 580px;
    }
    .page8 {
        padding-top: 100px;
    }
    .page7-choice1-img {
        height: 630px;
    }
    .page12 {
        padding-top: 70px;
    }
    .button-page12-choice1, .button-page12-choice2 {
        margin-top: 20px;
    }
    .page15-choice1-img {
        width: 780px;
        margin-top: -30px;
    }
    .page16 {
        padding-top: 50px;
    }
    .page16-img {
        scale: 1;
    }

}
@media screen and (max-width: 1350px) {
    .button-page2-choice1, .button-page2-choice2, .button-page2-choice3 {
        width: 1000px;
    }
}

@media screen and (max-height: 975px) {
    /*до 791*/
    .page {
        height: 88vh;
    }
    .custom-class {
        --bs-tooltip-padding-x: 25px !important;
        --bs-tooltip-padding-y: 15px !important;
    }
    .tooltip-inner {
        font-size: 22px;
    }
    .more-lit-page {
        font-size: 22px;
    }
    .more-lit-page {
        margin-top: 110px;
        height: 610px;
    }
    .more-lit-li {
        padding-bottom: 2px;
    }
    .preface {
        padding: 110px 150px 0 150px
    }
    .button-page1 {
        margin-top: 230px;
    }
    .choice {
        font-size: 22px;
        padding: 20px 48px;
        margin-bottom: 20px;
    }
    .button-page2-choice1, .button-page2-choice2, .button-page2-choice3 {
        padding: 32px 48px;
        margin-bottom: 20px;
        font-size: 24px;
    }
    .page2 {
        padding: 0 155px 0 155px;
    }
    .page2-text {
        padding-top: 60px !important;
        padding-bottom: 30px !important;
    }
    .page3-choice1-text1, .page3-choice2-text, .page3-choice3-text2 {
        padding-top: 90px !important;
        padding-right: 10%;
    }
    .page3-choice1-img, .page5-choice2-img {
        width: 700px;
        margin-top: -10px;
    }
    .page9-choice1-img {
        width: 700px;
    }
    .page5-choice1-img {
        width: 700px;
        margin-top: 40px;
        margin-right: 0;
    }
    .page3-choice2-img{
        width: 650px;
    }
    .page7-choice1-img{
        margin-top: 40px;
    }
    .page3-choice3-text1, .page13-choice2-text2 {
        padding-top: 250px !important;
    }
    .page3-choice3-img {
        width: 700px;
        margin-top: -120px;
    }
    .page4-text2 {
        padding-top: 70px !important;
    }
    .page4-img {
        width: 500px;
        height: 370px;
    }
    .page4 {
        padding-bottom: 0;
    }
    .page5-choice1, .page5-choice2 {
        padding: 90px 0 0 155px;
    }
     .page6, .page7-choice1, .page7-choice2, .page8, .page9-choice1, .page9-choice2, .page11-choice1,
    .page11-choice2, .page12, .page13-choice1, .page13-choice2, .page17-choice1, .page18 {
        padding-top: 90px;
        padding-bottom: 0;
    }
    .page6-img {
        margin-top: -70px;
    }
    .button-page8-choice1 {
        margin-bottom: 60px;
        padding: 32px;
    }
    .page8-img {
        height: 530px;
    }
    .page15-choice1, .page15-choice2, .page15-choice3 {
        padding-top: 0;
    }
    .page10 {
        padding-top: 100px
    }
    .page10-img {
        height: 400px;
    }
    .page12 {
        padding-top: 70px;
    }
    .page12-img{
        height: 600px;
    }
    .page13-choice2-img {
        width: 700px;
    }
    .page17-choice1-img {
        width: 650px;
    }
    .button-page14-choice1, .button-page14-choice2 {
        padding: 26px 48px;
    }
    .page14-img {
        height: 570px;
    }
    .button-page1 {
        margin-top: 150px;
    }
    .page3-choice3-img {
        margin-top: -270px;
        margin-right: -10px;
    }
    .page11-choice1-img {
        width: 700px;
        margin-top: 0;
    }
    .page11-choice2-img {
        margin-top: -60px;
    }
    .page10-left {
        padding-bottom: 0;
    }
    .page8 {
        padding-top: 70px;
    }
    .page9-choice1-bottom {
        padding-top: 0;
    }
    .page7-choice1-img {
        height: 550px;
        margin-top: 0;
    }
    .page7-choice2-img {
        width: 760px;
        margin: -190px 0 0 0;
    }
    .page13-choice2-text2 {
        padding-top: 200px !important;
    }
    .page15-choice1-img {
        width: 700px;
        margin-top: -30px;
    }
    .page15-choice2-img {
        width: 750px;
    }
    .page16 {
        padding-top: 80px;
    }
    .button-page16-choice2 {
        margin-top: 0;
    }
    .button-page16-choice1, .button-page16-choice2 {
        padding: 25px 40px;
    }
    .page17-choice1-text2 {
        margin-top: 200px !important;
    }
    .button-page17-choice2 {
        margin-top: 100px;
    }
}
img { pointer-events: none; }
@media screen and (max-height: 850px) {
    p {
        font-size: 22px;
    }

    .choice {
        font-size: 22px;
    }
    .btn-secondary-choice {
        --bs-btn-font-size: 22px !important;
    }
    .page2-text {
        padding-bottom: 30px !important;
        /*padding-top: 30px;*/
    }
    .preface {
        padding: 90px 150px 0 150px;
    }
    .dictionary-word {
        font-size: 22px;
    }
    .more-lit-page {
        font-size: 20px;
        height: 77vh;
    }
    .page5-choice1-img {
        width: 500px;
        margin-top: 40px;
        margin-right: 50px;
    }

    .page10-text1, .page10-text2 {
        font-size: 20px;
    }
    .page10 {
        margin-top: 0;
    }

    .button-page14-choice1, .button-page14-choice2, .button-page14-choice3 {
        padding: 26px 35px;
    }
    .page14-img {
        margin-top: -20px;
        height: 520px;
    }
    .button-page2-choice1, .button-page2-choice2, .button-page2-choice3 {
        padding: 23px 48px;
    }
    .page3-choice2-img {
        width: 550px;
    }
    .button-page3-choice2 {
        margin-top: 250px;
    }
    .page3-choice3-img {
        height: 550px;
        width: 600px;
        margin-top: -170px;
    }
    .page3-choice3-text1 {
        padding-top: 100px !important;
    }
    .button-play-again {
        scale: 0.9;
    }
    .page6-img {
        width: 460px;
        height: 360px;
        margin-bottom: 0;
        margin-top: 0;
    }
    .page6 {
        padding-top: 60px;
    }
    .button-page7-choice1, .button-page7-choice2 {
        margin-top: 100px;
    }
    .page7-choice2-img {
        width: 700px;
    }
    .page8 {
        padding-top: 40px;
    }
    .button-page8-choice1 {
        margin-bottom: 20px;
    }
    .page8-img {
        height: 490px;
    }
    .page8 {
        padding-top: 50px;
    }
    .button-page9-choice1, .button-page13-choice1 {
        margin-top: 200px;
    }
    .page9-choice2-text3 {
        padding-top: 100px !important;
    }
    .you-lose {
        font-size: 24px;
    }
    .page7-choice1-img {
        height: 480px;
        margin-top: 0;
    }
    .page11-choice2-text2 {
        margin-top: 50px !important;
    }
    .page12 {
        padding-top: 60px;
    }
    .page12-img {
        height: 500px;
    }
    .button-page12-choice1, .button-page12-choice2 {
        margin-top: 0;
    }
    .page13-choice1-img {
        width: 570px;
        height: 450px;
    }
    .button-page14-choice1 {
        margin-top: 10px;
    }
    .page15-choice1-img {
        width: 600px;
        margin-top: -30px;
    }
    .page15-choice2-img {
        width: 650px;
    }
    .page15-text2 {
        padding-top: 50px !important;
    }
    .page16-bottom {
        padding-top: 20px;
    }
    .button-page16-choice1, .button-page16-choice2 {
        font-size: 20px;
    }
    .page17-choice1-img {
        width: 550px;
    }
}
@media screen and (max-height: 775px) {
    .page3-choice3-img {
        height: 470px;
        width: 500px;
        margin-top: -190px;
    }
    .button-page5-choice1 {
        margin-top: 150px;
    }
    .page5-choice2-img {
        width: 590px;
        padding-top: 20px;
    }
    .button-page5-choice2 {
        margin-top: 150px;
    }
    .page6-bottom {
        margin-top: 20px;
    }
    .page7-choice2-img {
        width: 600px;
    }
    .page8-img {
        height: 400px;
    }
    .page11-choice1-img {
        width: 585px;
    }
    .button-page11-choice1 {
        margin-top: 200px;
    }
    .page13-choice2-text2 {
        padding-top: 100px !important;
    }
    .page13-choice2-img {
        width: 560px;
    }
    .button-page15-choice1, .button-page15-choice2 {
        margin-top: 200px;
    }
    .page15-choice2-img {
        width: 550px;
    }
    .page16-img {
        width: 500px;
        height: 390px;
    }
    .page17-choice2 {
        padding-top: 50px;
    }
}
@media screen and (max-height: 750px) {
    p, .dictionary-word {
        font-size: 20px;
    }
    .btn-secondary {
        --bs-btn-font-size: 20px !important;
    }
    .choice {
        font-size: 20px;
    }
    .site-header {
        background: white; !important;
        z-index: 10;
        display: flex;
        padding: 20px 40px 0 40px !important;
        position: sticky; !important;
        top: 0;
        width: 100%;
    }
    .header-text-up {
        font-size: 28px;
        padding-bottom: 0 !important;
    }
    .header-text-bottom {
        font-size: 22px;
        padding-bottom: 0 !important;
    }
    .logo, .button-next, .play-again {
        scale: 0.8;
    }
    .page {
        margin-top: 0;
    }
    .preface-bar {
        margin-top: 10px;
    }
    .preface-heading {
        font-size: 30px;
    }
    .button-page1 {
        margin-top: 70px;
    }
    .page2-text {
        padding-bottom: 10px !important;
    }
    .button-page2-choice1, .button-page2-choice2, .button-page2-choice3 {
        font-size: 20px;
    }
    .more-lit-page {
        font-size: 18px;
        margin-top: 80px;
        height: 75vh;
    }
    .page3-choice1-img {
        width: 600px;
    }
    .button-page3-choice1 {
        margin-top: 130px;
    }
    .page3-choice2-img {
        width: 480px;
    }
    .page4-text2 {
        padding-top: 40px !important;
    }
    .button-page4-choice2 {
        margin-top: 0;
    }
    .page4-text {
        padding-bottom: 3px !important;
    }
    .page4-img {
        width: 400px;
        height: 300px;
    }
    .page6-img {
        width: 400px;
        height: 300px;
    }
    /*.page6 {*/
    /*    padding-top: 30px;*/
    /*}*/
    .page7-choice1-img {
        height: 420px;
    }
    .page7-choice1 {
        padding-top: 60px;
    }
    .page7-choice2-img {
        width: 570px;
    }
    .page7-choice2-bottom {
        padding-top: 0;
    }
    .page8 {
        padding-top: 50px;
    }
    /*.page9-choice1-img {*/
    /*    width: 500px;*/
    /*}*/
    .page9-choice1 {
        padding-top: 60px;
    }
    .page9-choice2 {
        padding-top: 50px;
    }
    .page10 {
        padding-top: 60px;
    }
    .page11-choice2 {
        padding-top: 60px;
    }
    .page11-choice2-img {
        margin-top: 10px;
    }
    .page13-choice1-img {
        width: 500px;
        height: 370px;
    }
    .page14 {
        padding-top: 40px;
        font-size: 18px;
    }
    .button-page14-choice1, .button-page14-choice2, .button-page14-choice3 {
        padding: 26px 35px;
    }
    .page14-img {
        margin-top: -20px;
        height: 470px;
        margin-bottom: 0;
    }
    .page15-choice1-img {
        width: 500px;
    }
    .page15-left {
        padding-top: 60px;
    }
    .page16-img {
        width: 470px;
        height: 370px;
    }
    .page16 {
        padding-top: 40px;
    }
    .page17-choice1-img {
        width: 450px;
    }
    .page17-choice1-text2 {
        margin-top: 100px !important;
    }
}

@media screen and (max-height: 645px) {
    .choice, p {
        font-size: 18px;
    }
    .btn-secondary {
        --bs-btn-font-size: 18px !important;
    }
    .page3-choice1-img {
        width: 450px;
    }
    .page3-choice2-img {
        width: 400px;
    }
    .button-page3-choice2 {
        margin-top: 150px;
    }
    .page3-choice3-text1 {
        padding-top: 50px !important;
    }
    .page3-choice3-img {
        height: 420px;
        width: 400px;
        margin-top: -190px;
    }
    .page5-choice1 {
        padding-top: 60px;
    }
    .page5-choice1-img {
        width: 430px;
        margin-top: 10px;
        margin-right: 50px;
    }
    .page5-choice2-img {
        width: 450px;
        padding-top: 20px;
    }
    .page7-choice1-img {
        height: 300px;
    }
    .page7-choice2-img {
        width: 480px;
    }
    .page6 {
        padding-top: 30px;
    }
    .page8-img {
        height: 300px;
    }
    .button-page9-choice1 {
        margin-top: 150px;
    }
    .page9-choice1-img {
        width: 500px;
    }
    .page11-choice1-img {
        width: 500px;
        margin-top: -30px;
    }
    .page12-img {
        height: 400px;
    }
    .page12, .page13-choice2-text2 {
        padding-top: 30px;
    }
    .page13-choice1-img {
        width: 400px;
        height: 300px;
    }
    .button-page13-choice1 {
        margin-top: 150px;
    }
    .page13-choice2-img {
        width: 480px;
    }
    .page13-choice2 {
        padding-top: 70px;
    }
    .page14-img {
        margin-top: -20px;
        height: 380px;
    }
    .button-page14-choice1, .button-page14-choice2, .button-page14-choice3 {
        padding: 15px 25px;
    }
    .page15-choice1-img, .page15-choice2-img {
        width: 400px;
    }
    .page16-img {
        width: 400px;
        height: 320px;
    }
    .page16 {
        padding-top: 40px;
    }
    .page17-choice1 {
        padding-top: 70px;
    }
    .page17-choice1-img {
        width: 350px;
    }
    .page17-choice2 {
        padding-top: 30px;
    }
}
