@import "reset.css";

@font-face {
    font-family: Mont;
    src: url("../fonts/Mont-Regular.ttf");
}

@font-face {
    font-family: Mont-bold;
    src: url("../fonts/Mont-bold.ttf");
}

@font-face {
    font-family: Mont-Semibold;
    src: url("../fonts/MontSemiBold.ttf");
}

@font-face {
    font-family: Mont-italic;
    src: url("../fonts/MontBoldItalic.ttf");
}

@font-face {
    font-family: BogartTrial;
    src: url("../fonts/Bogart-Regular-trial.ttf");
}

@font-face {
    font-family: BogartTrialBold;
    src: url("../fonts/Bogart-Bold-trial.ttf");
}

@font-face {
    font-family: Mont-Heavy;
    src: url("../fonts/ofont.ru_Mont.ttf");
}

body {
    background-color: white;
    font-family: Mont;
}

.page {
    display: none;
    flex-direction: column;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 88vh;
    width: 100vw;
    background-size: 100% auto;
    margin-top: 30px;
}

.you-lose {
    font-family: Mont-Semibold;
    font-size: 28px;
    width: 421px;
}

/*.peasant {*/
/*    padding: 120px 0 0 155px;*/
/*}*/

.site-header {
    background: white; !important;
    z-index: 10;
    display: flex;
    padding: 40px 40px 0 40px;
    justify-content: space-between;
    position: sticky; !important;
    top: 0;
}

.logo {
    width: 85px;
    height: 85px;
}

.header-text {
    margin-right: 38%;
    padding-top: 9px;
    font-family: BogartTrialBold;
    font-weight: bold;
    width: 496px;
    height: 68px;
}

.header-text-up {
    font-size: 32px;
    line-height: 38.4px;
}

.header-text-bottom {
    font-size: 26px;
    line-height: 31.2px;
}

.play-again {
    margin-top: 19px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 216px;
    height: 47px;
    background-color: white;
    font-size: 24px;
    border: 3px solid #9FC625;
    border-radius: 8px;
    color: #9FC625;
    font-family: Mont-Semibold;
    transition: 0.7s;
}

.play-again:hover {
    background-color: #9FC625;
    color: white;
}

.button-play-again {
    width: 310px;
    height: 57px;
    background-color: #9FC625;
    border-radius: 8px;
    transition: 0.7s;
    color: white;
    font-size: 32px;
    font-family: Mont-Semibold;
}

.button-play-again:hover {
    background-color: #93B91E;
}

.choice {
    filter: drop-shadow(0 0 30px rgba(45,29,56,0.2));
    border-radius: 24px;
    background-color: white;
    width: 557px;
    font-size: 24px;
    text-align: left;
    padding: 32px 48px 32px 48px;
}

.choice:hover {
    filter: drop-shadow(0 0 30px rgba(45,29,56, 0.5));
}

.button-next {
    display: flex;
    justify-content: center;
    /*position: relative;*/
    width: 171px;
    height: 57px;
    background-color: #9FC625;
    border-radius: 8px;
    transition: 0.7s;
    color: white;
    font-size: 32px;
    font-family: Mont-Semibold;
    padding-top: 8px;
}

.button-next:hover {
    background-color: #93B91E;
}

p {
    width: 1130px;
    font-size: 24px;
    padding-bottom: 8px;
}

.preface {
    display: flex;
    padding: 120px 155px 184px 155px;
    background-image: url("../img/peasant/page1-back.png");
}

.preface-text, .page14-text, .page17-choice1-text {
    width: 1016px;
}

.preface-heading {
    font-family: Mont-Heavy;
    font-size: 32px;
    padding-bottom: 16px;
}

.button-page1 {
    margin: 256px 0 0 500px;
}

.page2 {
    padding: 0 155px 37px 155px;
    background-image: url("../img/peasant/page2-back.png");
}

.page2-text {
    padding-top: 11%;
    width: 672px;
    padding-bottom: 60px;
}

.button-page2-choice1, .button-page2-choice2, .button-page2-choice3 {
    width: 1130px;
    margin-bottom: 48px;
}

.button-page2-choice3 {
    margin-bottom: 0;
}

.page3-choice1 {
    padding: 0 40px 0 155px;
    background-image: url("../img/peasant/page3-choice1-back.png");
}

.page3-choice1-text1 {
    padding-top: 90px;
}

.page3-choice1-bottom {
    display: flex;
    justify-content: space-between;
}

.page3-choice1-text2 {
    width: 442px;
}

.button-page3-choice1 {
    margin: 243px 0 0 82px;
}

.page3-choice2 {
    padding: 0 40px 0 155px;
    background-image: url("../img/peasant/page3-choice2-back.png");
}

.page3-choice2-text {
    padding-top: 120px;
}

.page3-choice2-bottom {
    display: flex;
    justify-content: space-between;
}

.button-page3-choice2 {
    margin: 376px 0 0 70px;
}

.page3-choice3 {
    padding: 0 40px 0 155px;
    background-image: url("../img/peasant/page3-choice2-back.png");
}

.page3-choice3-text {
    width: 680px;
}

.page3-choice3-text2 {
    padding-top: 120px;
}

.page3-choice3-bottom {
    display: flex;
    justify-content: space-between;
}

.page3-choice3-text1 {
    padding: 350px 0 40px 0;
}

.page3-choice3-img {
    margin-top: -100px;
}

.button-page3-choice3 {
    margin-left: 60px;
}

.page4 {
    padding: 0 56px 42px 155px;
    background-image: url("../img/peasant/page4-back.png");
}

.page4-text2 {
    padding-top: 135px;
}
.page4-text {
    width: 1229px;
}

.page4-left {
    display: flex;
    flex-direction: column;
}

.page4-bottom {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    padding-right: 83px;
}

.page4-img {
    padding-top: 14px;
}

.button-page4-choice2 {
    margin-top: 32px;
}

.page5-choice1 {
    padding: 155px 0 76px 155px;
    background-image: url("../img/peasant/page5-choice1-back.png");
}

.page5-text, .page13-choice2-text {
    width: 900px;
}

.page5-bottom {
    display: flex;
    justify-content: space-between;
}

.button-page5-choice1, .button-page5-choice2 {
    margin: 344px 0 0 130px;
}

.page5-choice2 {
    padding-top: 155px;
    padding-left: 155px;
    background-image: url("../img/peasant/page5-chocie2-back.png");
}

.page6 {
    background-image: url("../img/peasant/page6-back.png");
    padding: 130px 40px 101px 155px;
}

.page6-text {
    width: 786px;
}

.page6-left {
    display: flex;
    flex-direction: column;
}

.page6-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

.page6-img {
    padding-top: 54px;
}

.button-page6-choice1 {
    margin-bottom: 48px;
}

.page7-choice1 {
    background-image: url("../img/peasant/page7-choice1-back.png");
    padding: 155px 40px 192px 155px;
}

.page7-choice1-bottom {
    display: flex;
    justify-content: space-between;
}

.page7-choice1-text1, .page11-choice1-text, .page13-choice1-text, .page17-choice2-text {
    width: 672px;
}

.page7-choice1-text2 {
    width: 442px;
}

.page7-choice1-img {
    padding-top: 48px;
}

.button-page7-choice1 {
    margin: 243px 0 0 134px;
}

.page7-choice2 {
    background-image: url("../img/peasant/page7-choice2-back.png");
    padding: 155px 40px 117px 155px;
}

.page7-choice2-text2 {
    width: 557px;
}

.page7-choice2-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 37px;
}

.button-page7-choice2 {
    margin: 267px 0 0 138px
}

.page8 {
    background-image: url("../img/peasant/page8-back.png");
    padding: 155px 83px 64px 155px;
}

.page8-bottom {
    display: flex;
    justify-content: space-between;
}

.page8-text2 {
    width: 700px;
}

.page8-left {
    display: flex;
    flex-direction: column;
}

.button-page8-choice1, .button-page12-choice1 {
    margin: 60px 0 48px 0
}

.page9-choice1 {
    background-image: url("../img/peasant/page9-choice1-back.png");
    padding: 155px 0 80px 155px;
}

.page9-choice1-text {
    width: 1016px;
}

.page9-choice1-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 58px;
}

.button-page9-choice1 {
    margin: 285px 0 0 135px;
}

.page9-choice2 {
    background-image: url("../img/peasant/page9-choice2-back.png");
    padding: 155px 155px 59px 155px;
}

.page9-choice2-text2, .page11-choice2-text, .page12-text, .page16-text2 {
    width: 672px;
}

.page9-choice2-bottom, .page17-choice1-bottom {
    display: flex;
    justify-content: space-between;
}

.page9-choice2-text3 {
    padding-top: 163px;
}

.page9-choice2-img {
    padding-right: 90px;
}

.button-page9-choice2 {
    margin: 44px 0 0 55px;
}

.page10 {
    background-image: url("../img/peasant/page10-back.png");
    padding: 155px 40px 48px 155px;
}

.page10-left {
    display: flex;
    flex-direction: column;
}

.page10-bottom {
    display: flex;
    justify-content: space-between;
}

.button-page10-choice1, .button-page10-choice2 {
    width: 673px;
    margin-top: 24px;
}

.page11-choice1 {
    background-image: url("../img/peasant/page11-choice1-back.png");
    padding: 155px 40px 120px 155px;
}

.page11-choice1-bottom {
    display: flex;
    justify-content: space-between;
}

.button-page11-choice1 {
    margin: 336px 0 0 150px;
}

.page11-choice2 {
    background-image: url("../img/peasant/page11-choice2-back.png");
    flex-direction: row;
    justify-content: space-between;
    padding: 130px 88px 35px 155px;
    margin-top: 30px;
}

.page11-choice2-left {
    padding-top: 10px;
}

.page11-choice2-text2 {
    margin: 145px 0 0 76px
}

.button-page11-choice2 {
    margin: 44px 0 0 131px
}

.page12 {
    background-image: url("../img/peasant/page12-back.png");
    justify-content: space-between;
    flex-direction: row;
    padding: 100px 100px 70px 155px;
}

.page12-left {
    display: flex;
    flex-direction: column;
}

.page12-img {
    padding-bottom: 30px;
    width: 412px;
    height: 711px;
}

.page13-choice1 {
    background-image: url("../img/peasant/page13-choice1-back.png");
    padding: 155px 0 120px 155px;
}

.page13-choice1-bottom {
    display: flex;
    justify-content: space-between;
}

.page13-choice1-img {
    margin-top: -80px;
}

.button-page13-choice1 {
    margin: 305px 0 0 134px;
}

.page13-choice2 {
    background-image: url("../img/peasant/page13-choice2-back.png");
    padding: 135px 0 120px 155px;
}

.page13-choice2-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.page13-choice2-text2 {
    padding-top: 273px;
}

.button-page13-choice2 {
    margin: 44px 0 0 49px;
}

.page14 {
    background-image: url("../img/peasant/page14-back.png");
    padding: 135px 40px 56px 155px;
}

.page14-left {
    display: flex;
    flex-direction: column;
}

.page14-bottom {
    display: flex;
    justify-content: space-between;
}

.page14-img {
    margin-top: -60px;
    padding-left: 25px;
}

.button-page14-choice1 {
    margin-top: 24px;
    margin-bottom: 48px;
    width: 671px;
}

.button-page14-choice2, .button-page14-choice3 {
    margin-bottom: 48px;
    width: 671px;
}

.page15-choice1, .page15-choice2, .page15-choice3 {
    background-image: url("../img/peasant/page15-back.png");
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 72px 40px 155px;
}

.page15-text {
    width: 673px;
}

.page15-left {
    padding-top: 86px;
}

.button-page15-choice1 {
    margin: 306px 0 0 251px;
}

.button-page15-choice2 {
    margin: 283px 0 0 251px;
}

.page15-text2 {
    padding-top: 171px;
    margin-left: 98px;
}

.button-page15-choice3 {
    margin: 36px 0 0 153px;
}

.page16 {
    background-image: url("../img/peasant/page16-back.png");
    padding: 135px 155px 83px 155px;
}

.page16-bottom {
    display: flex;
    flex-direction: column;
}
.button-page16-choice1 {
    margin: 28px 0 32px;
}

.page17-choice1 {
    background-image: url("../img/peasant/page17-choice1-back.png");
    padding: 155px 0 100px 155px;
}

.page17-choice1-text2 {
    margin: 332px 0 44px 87px;
}

.button-page17-choice1 {
    margin-left: 142px;
}

.page17-choice2 {
    background-image: url("../img/peasant/page17-choice2-back.png");
    flex-direction: row;
    justify-content: space-between;
    padding: 105px 40px 72px 155px;
}

.page17-choice2-left {
    padding-top: 58px;
}

.button-page17-choice2 {
    margin: 213px 0 0 251px;
}

.more-lit {
    margin-left: 231px;
    margin-right: 60px;
}

.more-lit {
    margin-top: 19px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 343px;
    height: 98px;
    background-color: #9FC625;
    font-size: 32px;
    border-radius: 12px;
    color: white;
    font-family: Mont-Semibold;
    transition: 0.7s;
}

.more-lit:hover {
    background-color: #C2F86A;
}

.play-again-button {
    margin-top: 19px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 269px;
    height: 98px;
    background-color: white;
    font-size: 32px;
    border: 3px solid #9FC625;
    border-radius: 12px;
    color: #9FC625;
    font-family: Mont-Semibold;
    transition: 0.7s;
}

.play-again-button:hover {
    background-color: #9FC625;
    color: white;
}

.page18 {
    background-image: url("../img/peasant/page18-back.png");
    padding: 155px 155px 288px 155px;
}

.page18-buttons {
    display: flex;
    padding-top: 152px;
}

.more-lit-page {
    position: fixed;
    top: 50px;
    left: 155px;
    height: 764px;
    display: none;
    margin: 155px 75px 65px 0;
    filter: drop-shadow(0 0 20px rgba(45,29,56,0.2));
    border-radius: 24px;
    background-color: white;
    width: 1210px;
    font-size: 24px;
    text-align: left;
    padding: 32px 45px 32px 45px;
}

.more-lit-li {
    list-style: inside; !important;
    padding-bottom: 8px;
}

.more-lit-li::marker {
    font-size: 20px;
}

.more-let-btn {
    border-radius: 24px;
    width: 22px;
    height: 22px;
    text-align: right;
    background-image: url("../img/more-lit.png");
    transition: 0.7s;
}

.more-let-btn:hover {
    background-image: url("../img/peasant/more-lit-hover.png");
}

.more-lit-li1, .more-lit-ul1 {
    width: 1070px;
}

.more-lit-li1 {
    list-style: inside; !important;
    padding-bottom: 8px;
}

.more-lit-li1::marker {
    font-size: 20px;
}

.more-lit-page-top {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-height: 1040px) {
    .page2-text {
        padding-top: 90px;
    }
    .page3-choice1-text1 {
        padding-top: 120px;
    }
    .page3-choice1-img {
        margin: 70px -40px 0 0 ;
        width: 800px;
    }
    .page3-choice2-img {
        width: 68%;
    }
    .page4-img {
        width: 33%;
    }
    .page4-text2 {
        padding-top: 120px;
    }
    .page5-choice2 {
        padding-top: 120px;
    }
    .page9-choice2-img {
        width: 26%;
    }
    .page10 {
        padding-top: 110px;
    }
    .page14 {
        padding-top: 105px;
    }
    .more-lit-page {
        height: 750px;
    }
}

@media screen and (max-height: 975px) {
    /*до 791*/
    .page {
        height: 88vh;
    }
    p, .more-lit-page {
        font-size: 22px;
    }
    .more-lit-page {
        margin-top: 110px;
        height: 610px;
    }
    .more-lit-li {
        padding-bottom: 2px;
    }
    .preface {
        padding: 110px 150px 0 150px
    }
    .button-page1 {
        margin-top: 230px;
    }
    .choice {
        font-size: 22px;
        padding: 20px 48px;
        margin-bottom: 20px;
    }
    .page2 {
        padding: 20px 155px 37px 155px;
    }
    .page2-text {
        padding-bottom: 40px;
    }
    .page3-choice1-text1, .page3-choice2-text, .page15-text2, .page3-choice3-text2 {
        padding-top: 90px;
    }
    .page3-choice1-img, .page5-choice2-img, .page5-choice1-img, .page9-choice1-img{
        width: 700px;
        margin-top: -10px;
    }
    .page3-choice2-img, .page7-choice1-img{
        width: 700px;
        margin-top: -60px;
    }
    .page3-choice3-text1, .page13-choice2-text2 {
        padding-top: 250px;
    }
    .page3-choice3-img {
        width: 700px;
        margin-top: -120px;
    }
    .page4-text2 {
        padding-top: 70px;
    }
    .page4-img {
        margin-top: -60px;
        scale: 0.88;
    }
    .page4 {
        padding-bottom: 0;
    }
    .page5-choice1, .page5-choice2 {
        padding: 90px 0 0 155px;
    }
     .page6, .page7-choice1, .page7-choice2, .page8, .page9-choice1, .page9-choice2, .page10, .page11-choice1,
    .page11-choice2, .page12, .page13-choice1, .page13-choice2, .page14, .page16, .page17-choice1, .page17-choice2, .page18 {
        padding-top: 90px;
        padding-bottom: 0;
    }
    .page6-img {
        margin-top: -70px;
    }
    .button-page8-choice1 {
        margin-bottom: 60px;
        padding: 32px;
    }
    .page8-img {
        width: 300px;
    }
    .page15-choice1, .page15-choice2, .page15-choice3 {
        padding-top: 0;
    }
    .page9-choice2-img {
        height: 500px;
    }
    .page10-img, .page14-img {
        width: 440px;
    }
    .page12-img{
        height: 600px;
    }
    .page15-img {
        height: 650px;
        margin-top: 40px;
    }
    .page13-choice1-img, .page13-choice2-img {
        width: 700px;
    }
    .page17-choice1-img {
        width: 650px;
    }
}
