@import "reset.css";

@font-face {
    font-family: Mont;
    src: url("../fonts/Mont-Regular.ttf");
}

@font-face {
    font-family: Mont-bold;
    src: url("../fonts/Mont-bold.ttf");
}

@font-face {
    font-family: Mont-Semibold;
    src: url("../fonts/MontSemiBold.ttf");
}

@font-face {
    font-family: Mont-italic;
    src: url("../fonts/MontBoldItalic.ttf");
}

@font-face {
    font-family: BogartTrial;
    src: url("../fonts/Bogart-Regular-trial.ttf");
}

@font-face {
    font-family: BogartTrialBold;
    src: url("../fonts/Bogart-Bold-trial.ttf");
}

@font-face {
    font-family: Mont-Heavy;
    src: url("../fonts/ofont.ru_Mont.ttf");
}

body {
    background-color: white;
    font-family: Mont;
}



.site-header {
    background: white;
    display: flex;
    top: 0;
}

.logo {
    width: 85px;
    height: 85px;
    margin: 40px 0 0 0;
}

.header-text {
    padding-top: 50px;
    padding-left: 16px;
    font-family: BogartTrialBold;
    font-weight: bold;

    height: 68px;
}

.header-text-up {
    font-size: 32px;
    line-height: 38.4px;
}

.header-text-bottom {
    font-size: 26px;
    line-height: 31.2px;
}

.main-page1 {
    display: flex;
    padding: 0 38px 0 40px;
    height: 1024px;
}

.main-page1-text1 {
    position: absolute;
    padding-top: 257px;
    font-family: BogartTrialBold;
    font-size: 40px;
    color: #6C6174;
}

.main-page1-text2 {
    position: absolute;
    padding-top: 295px;
    font-family: BogartTrialBold;
    font-size: 64px;
    color: #2D1D38;
}

.main-page1-text3 {
    position: absolute;
    padding-top: 360px;
    font-family: BogartTrialBold;
    font-size: 40px;
    color: #2D1D38;
}

.main-page1-img {
    position: absolute;
    right: 0;
}

.main-page1-play {
    margin-left: 229px;
    width: 180px;
    height: 57px;
    color: white;
    font-size: 32px;
    background-image: url("../img/main-page1-play.png");
}

.main-page1-rules {
    margin-left: 64px;
    width: 212px;
    height: 57px;
    color: #2D1D38;
    font-size: 32px;
    background-image: url("../img/main-page1-rules.png");
}

.main-page1-btn {
    margin-top: 461px;
}

.rules {
    display: none;
    flex-direction: column;
    padding: 40px 40px 40px 40px;
}

.rules-text1 {
    padding: 86px 0 28px 0;
    font-size: 32px;
    width: 1131px;
    font-family: Mont-Heavy;
}

.rules-text2 {
    width: 1131px;
    font-size: 24px;
    padding-bottom: 4px;
}
.rules-text3 {
    width: 1131px;
    font-size: 24px;
}

.rules-bottom {
    display: flex;
    justify-content: space-between;
}

.rules-play {
    width: 180px;
    height: 57px;
    color: white;
    font-size: 32px;
    background-image: url("../img/main-page1-play.png");
}

.rules-main {
    width: 258px;
    height: 57px;
    color: #2D1D38;
    font-size: 32px;
    margin-left: 64px;
    background-image: url("../img/rules-main.png");
}

.rules-btn {
    margin-top: 60px;
    display: flex;
}

.rules-img {
    padding-left: 103px;
}

.main-choice {
    display: none;
    flex-direction: column;
    padding: 40px 40px 86px 40px;
}

.main-choice-text1 {
    width: 1004px;
    font-size: 24px;
    padding: 72px 20px 16px 20px;
}

.main-choice-text2 {
    width: 1004px;
    font-size: 24px;
    padding: 0 20px 0 20px;
}

.main-choices {
    display: flex;
    justify-content: space-between;
    padding: 64px 20px 0 20px;
}

.peasant {
    width: 300px;
    height: 475px;
    background-image: url("../img/peasant.png");
    filter: drop-shadow(0 0 10px rgba(45,29,56,0.1));
}

.noble {
    width: 300px;
    height: 475px;
    background-image: url("../img/noble.png");
    filter: drop-shadow(0 0 10px rgba(45,29,56,0.1));
}

.merchant {
    width: 300px;
    height: 475px;
    background-image: url("../img/merchant.png");
    filter: drop-shadow(0 0 10px rgba(45,29,56,0.1));
}

.worker {
    width: 300px;
    height: 475px;
    background-image: url("../img/worker.png");
    filter: drop-shadow(0 0 10px rgba(45,29,56,0.1));
}
