@import "reset.css";

@font-face {
    font-family: Mont;
    src: url("../fonts/Mont-Regular.ttf");
}

@font-face {
    font-family: Mont-Semibold;
    src: url("../fonts/MontSemiBold.ttf");
}

@font-face {
    font-family: BogartTrialBold;
    src: url("../fonts/Bogart-Bold-trial.ttf");
}

@font-face {
    font-family: Mont-Heavy;
    src: url("../fonts/ofont.ru_Mont.ttf");
}

body {
    background-color: white;
    font-family: Mont;
}

.site-header {
    background: white; !important;
    display: flex;
    padding: 40px 40px 0 40px;
    position: sticky; !important;
    top: 0;
    z-index: 10;
}

.logo {
    width: 85px;
    height: 85px;
}

.header-text {
    margin-left: 30px;
    padding-top: 9px;
    font-family: BogartTrialBold;
    font-weight: bold;
    width: 496px;
    height: 68px;
}

.page {
    display: none;
    flex-direction: column;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100vw;
    background-size: 100% auto;
}

.header-text-up {
    font-size: 32px;
    line-height: 38.4px;
}

.header-text-bottom {
    font-size: 26px;
    line-height: 31.2px;
}

.play-again {
    margin-top: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 56px;
    background-color: white;
    font-size: 26px;
    border: 3px solid #986CCF;
    border-radius: 8px;
    color: #986CCF;
    font-family: Mont-Semibold;
    transition: 0.7s;
    margin-left: auto;
}

.play-again:hover {
    background-color: #986CCF;
    color: white;
}

.button-play-again {
    display: flex;
    justify-content: center;
    position: relative;
    width: 310px;
    height: 57px;
    background-color: #986CCF;
    border-radius: 8px;
    transition: 0.7s;
    color: white;
    font-size: 32px;
    font-family: Mont-Semibold;
    padding-top: 8px;
    scale: 1.1;
}

.button-play-again:hover {
    background-color: #895EBE;
}

.choice {
    filter: drop-shadow(0 0 30px rgba(45,29,56,0.2));
    border-radius: 24px;
    background-color: white;
    font-size: 26px;
    text-align: left;
    padding: 32px 48px 32px 48px;
    width: 557px;
}

.choice:hover {
    filter: drop-shadow(0 0 30px rgba(45,29,56, 0.5));
}

.dictionary-word {
    color: #986CCF;
    transition: .75s;
    font-size: 26px;
}

.dictionary-word:hover {
    color: #895EBE;
    .dictionary-word-popup {
        visibility: unset;
    }
}

.dictionary-word-popup {
    visibility: hidden;
    position: absolute;
    border-radius: 7px;
    background: #6C6174;
    max-width: 500px;
    text-align: left;
    padding: 20px 30px;
    color: white;
    font-size: 24px;
    z-index: 10;
}

.preface {
    display: none;
    background-image: url("../img/worker/page1-back.png");
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 120px 0 114px 155px;
    height: 90vh;
    width: 100vw;
    background-size: 100% auto;
}

.preface-text {
    width: 1600px;
}

p {
    font-size: 26px;
    padding-bottom: 8px;
}

.preface-heading {
    font-size: 32px;
    font-family: Mont-Heavy;
    padding-bottom: 16px;
}

.page5-text1, .page13-text1-choice2, .page17-choice1-text1, .page12-text2 {
    width: 1016px;
}

.button-next {
    display: flex;
    justify-content: center;
    width: 171px;
    height: 57px;
    background-color: #986CCF;
    border-radius: 8px;
    transition: 0.7s;
    color: white;
    font-size: 32px;
    font-family: Mont-Semibold;
    padding-top: 8px;
    scale: 1.1;
}

.button-next:hover {
    background-color: #895EBE;
}

.button-page1 {
    margin-top: 256px;
    margin-left: 46%;
}

.page2 {
    background-image: url("../img/worker/page2-back.png");
    padding: 155px 0 256px 155px;
}

.page2-buttons {
    display: flex;
    justify-content: space-evenly;
    padding-top: 64px;
    column-gap: 40px;
}

.page2-choice1 {
    padding: 47px 48px 47px 48px;
}

.page2-choice2 {
    padding: 32px 48px 32px 48px;
}

.page2-choice2 {
    margin-right: 123px;
}

.page2-text {
    width: 100%;
    padding-right: 146px;
}

.page3-choice1 {
    background-image: url("../img/worker/page3-choice1-back.png");
    flex-direction: row;
    justify-content: space-between;
    padding: 155px 40px 180px 155px;
}

.page3-left {
    display: flex;
    flex-direction: column;
}

.button-page3-choice1, .button-page3-choice2 {
    margin-top: 305px;
    margin-left: 33%;
}

.page3-choice1-img {
    scale: 1.2;
    padding-right: 30px;
}

.page3-text {
    padding-right: 70px;
}

.page3-choice2 {
    background-image: url("../img/worker/page3-choice2-back.png");
    flex-direction: row;
    justify-content: space-between;
    padding: 155px 40px 180px 155px;
}

.page4 {
    display: flex;
    background-image: url("../img/worker/page4-back.png");
    padding: 70px 50px 100px 155px;
}

.page4-text {
    padding-right: 90px;
}

.page4-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 24px;
    column-gap: 40px;
}

.page4-choice1 {
    height: 498px;
    width: 700px;
}

.page4-choice2{
    height: 498px;
    width: 700px;
}

.button-page4-choice1 {
    margin-right: 32px;
}

.page4-choice1-text {
    margin-left: 48px;
    width: 461px;
    height: 434px;
}

.page4-choice2 {
    padding: 109px 48px 109px 48px;
}
.page5-choice1, .page5-choice2 {
    background-image: url("../img/worker/page5-choice1-back.png");
    padding: 155px 0 116px 155px;
}

.page5-img {
    scale: 1.25;
}

.page5-choice2 {
    background-image: url("../img/worker/page5-choice2-back.png");
}

.page5-bottom {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
}

.page5-text2 {
    width: 786px;
}

.page5-text3 {
    font-family: Mont-Semibold;
    margin: 230px 0 40px 200px;
}

.you-lose {
    font-size: 32px;
}

.button-page5-choice1 {
    margin-left: 255px;
}

.page5-img-choice2 {
    padding-top: 30px;
}

.button-page5-choice2 {
    margin-left: 400px;
    margin-top: 376px;
}

.page6 {
    background-image: url("../img/worker/page6-back.png");
    padding: 155px 139px 170px 155px;
}

.page6-text {
    width: 1130px;
}

.page6-buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 56px;
}

.page6-choice1 {
    margin-right: 3%;
}

.page7-choice1, .page7-choice2 {
    padding: 155px 0 158px 155px;
}

.page7-choice1 {
    background-image: url("../img/worker/page7-choice1-back.png");
}

.page7-choice2 {
    background-image: url("../img/worker/page7-choice2-back.png");
}

.page7-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
}

.page7-text1 {
    width: 1015px;
}

.page7-text2 {
    width: 786px;
}

.button-page7-choice1 {
    margin-top: 280px;
    margin-left: 9%;
}

.page7-text1-choice2 {
    width: 1130px;
}

.page7-text2-choice2, .page9-text2-choice2, .page15-text2-choice2, .page17-choice2-text2, .page11-text1-choice2 {
    width: 672px;
}

.page7-text3 {
    font-size: 28px;
    font-family: Mont-Semibold;
    padding-bottom: 40px;
}

.page7-left {
    padding-top: 167px;
}

.button-page7-choice2 {
    margin-left: 16%;
}

.page8 {
    background-image: url("../img/worker/page8-back.png");
    padding: 155px 0 155px 155px;
}

.page8-text1 {
    width: 1130px;
}

.page8-text2 {
    width: 786px;
}

.page8-bottom {
    display: flex;
}

.page8-left {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.page8-img {
    position: absolute;
    right: 0;
}

.page8-choice1, .page8-choice2 {
    margin-top: 48px;
    height: 126px;
}

.page9-choice1{
    background-image: url("../img/worker/page9-choice1-back.png");
    padding: 155px 40px 138px 155px;
}

.page9-text1-choice1 {
    width: 1130px;
}

.page9-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
}

.button-page9-choice1 {
    margin-top: 190px;
    margin-left: 10%;
}

.page9-choice2{
    background-image: url("../img/worker/page9-choice2-back.png");
    padding: 155px 0 156px 155px;
}

.page9-text1-choice2 {
    width: 1130px;
}

.page9-text3 {
    font-size: 28px;
    font-family: Mont-Semibold;
}

.button-page9-choice2 {
    margin-top: 40px;
    margin-left: 14%;
}

.page10 {
    background-image: url("../img/worker/page10-back.png");
    padding: 120px 0 140px 155px;
}

.page10-bottom {
    padding-top: 52px;
    display: flex;
    justify-content: space-between;
}

.page10-left {
    display: flex;
    flex-direction: column;
    padding-right: 40px;
}

.page10-text1 {
    padding-top: 20px;
    width: 1130px;
}

.page10-choice1 {
    height: 281px;
}

.page10-choice2 {
    margin-top: 48px;
    height: 157px;
}

.page11-choice1 {
    background-image: url("../img/worker/page11-choice1-back.png");
    padding: 155px 40px 100px 155px;
}

.page11-text1-choice1 {
    width: 1130px;
}

.page11-bottom {
    display: flex;
    justify-content: space-between;
}

.button-page11-choice1 {
    margin-top: 383px;
    margin-left: 10%;
}

.page11-choice2 {
    background-image: url("../img/worker/page11-choice2-back.png");
    padding: 155px 96px 181px 155px;
}

.page11-text3 {
    padding-top: 260px;
    font-size: 28px;
    font-family: Mont-Semibold;
}

.button-page11-choice2 {
    margin-top: 40px;
    margin-left: 16%;
}

.page12 {
    background-image: url("../img/worker/page12-back.png");
    padding: 155px 40px 178px 155px;
}

.page12-buttons {
    display: flex;
    padding-top: 56px;
    justify-content: space-between;
    padding-right: 100px;
}

.page12-choice1 {
    height: 312px;
}

.page12-choice2 {
    height: 312px;
}

.page12-choice1-text {
    width: 461px;
    height: 93px;
    text-align: left;
    margin-left: 48px;
}

.page12-choice2-text {
    width: 461px;
    height: 248px;
    text-align: left;
    margin-left: 48px;
}

.page13-choice1 {
    background-image: url("../img/worker/page13-choice1-back.png");
    padding: 155px 40px 192px 155px;
}

.page13-text1-choice2 {
    padding-top: 60px;
}

.page13-text1-choice1 {
    width: 1130px;
}

.page13-text2-choice1 {
    width: 901px;
}

.page13-text3-choice1 {
    width: 557px;
}

.page13-text3 {
    font-family: Mont-Semibold;
    font-size: 28px;
    padding: 28px 0 40px;
}

.page13-bottom {
    display: flex;
}

.page13-group {
    display: flex;
}

.button-page13-choice2, .button-page13-choice1 {
    margin-left: 13%;
}

.page13-choice2 {
    background-image: url("../img/worker/page13-choice2-back.png");
    padding: 100px 85px 155px 155px;
}

.page13-bottom {
    display: flex;
    justify-content: space-between;
}

.button-page13-choice2 {
    margin-left: 12%;
    margin-top: 300px;
}

.page13-text2-choice2 {
    width: 557px;
}

.page14 {
    background-image: url("../img/worker/page14-back.png");
    padding: 155px 139px 170px 155px;
}

.page14-buttons {
    display: flex;
    padding-top: 56px;
    justify-content: space-between;
}

.page14-choice1 {
    height: 312px;
    margin-right: 32px;
}

.page14-choice2 {
    margin-right: 32px;
}

.page15-choice1 {
    background-image: url("../img/worker/page15-choice1-back.png");
    padding: 155px 0 188px 155px;
}

.page15-choice1-bottom, .page15-bottom {
    display: flex;
    justify-content: space-between;
}

.button-page15-choice1 {
    margin-top: 330px;
    margin-left: 10%;
}

.page15-choice2 {
    background-image: url("../img/worker/page15-choice2-back.png");
    padding: 155px 0 126px 155px;
}

.page15-text3 {
    padding-top: 190px;
    font-size: 28px;
    font-family: Mont-Semibold;
}

.page15-text1-choice2 {
    width: 901px;
}

.button-page15-choice2 {
    margin-top: 40px;
    margin-left: 16%;
}

.page16 {
    background-image: url("../img/worker/page16-back.png");
    padding: 155px 40px 78px 155px;
}

.page16-bottom {
    display: flex;
    justify-content: space-between;
}

.page16-text3 {
    width: 400px;
}

.page16-left {
    display: flex;
    flex-direction: column;
}

.page16-text1 {
    width: 1130px;
}

.page16-text2 {
    width: 901px;
}

.page16-choice1 {
    margin-top: 60px;
}

.page16-choice2 {
    margin-top: 32px;
}

.page17-choice1 {
    background-image: url("../img/worker/page17-choice1-back.png");
    padding: 155px 40px 124px 155px;
}

.page17-choice1-bottom {
    display: flex;
    justify-content: space-between;
}

.page17-choice1-left {
    display: flex;
    flex-direction: column;
}

.page17-choice1-text2 {
    width: 442px;
}

.button-page17-choice1 {
    margin-top: 205px;
    margin-left: 30%;
}

.page17-choice2 {
    background-image: url("../img/worker/page17-choice2-back.png");
    padding: 155px 40px 110px 155px;
}

.page17-choice2-text1 {
    width: 1129px;
}

.page17-choice2-bottom {
    display: flex;
    justify-content: space-between;
}

.button-page17-choice2 {
    margin-top: 268px;
    margin-left: 10%;
}

.page18 {
    background-image: url("../img/worker/page18-back.png");
    padding: 155px 155px 288px 155px;
}

.page18-buttons {
    display: flex;
    margin-top: 152px;
}

.more-lit {
    margin-left: 229px;
    margin-right: 60px;
}

.more-lit {
    margin-top: 19px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 343px;
    height: 98px;
    background-color: #986CCF;
    font-size: 32px;
    border-radius: 12px;
    color: white;
    font-family: Mont-Semibold;
    transition: 0.7s;
}

.more-lit:hover {
    background-color: #895EBE;
}

.play-again-button {
    margin-top: 19px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 269px;
    height: 98px;
    background-color: white;
    font-size: 32px;
    border: 3px solid #986CCF;
    border-radius: 12px;
    color: #986CCF;
    font-family: Mont-Semibold;
    transition: 0.7s;
}

.play-again-button:hover {
    background-color: #986CCF;
    color: white;
}

.more-lit-page {
    padding-left: 155px;
    position: fixed;
    top: 50px;
    left: 155px;
    height: 764px;
    display: none;
    margin: 155px 75px 65px 0;
    filter: drop-shadow(0 0 20px rgba(45,29,56,0.2));
    border-radius: 24px;
    background-color: white;
    width: 1210px;
    font-size: 24px;
    text-align: left;
    padding: 32px 45px 32px 45px;
}

.more-lit-li {
    list-style: inside; !important;
    padding-bottom: 8px;
}

.more-lit-li::marker {
    font-size: 20px;
}

.more-let-btn {
    border-radius: 24px;
    width: 22px;
    height: 22px;
    text-align: right;
    background-image: url("../img/more-lit.png");
    transition: 0.7s;
}

.more-let-btn:hover {
    background-image: url("../img/worker/more-lit-hover.png");
}

.more-lit-li1, .more-lit-ul1 {
    width: 1070px;
}

.more-lit-li1 {
    list-style: inside; !important;
    padding-bottom: 8px;
}

.more-lit-li1::marker {
    font-size: 20px;
}

.more-lit-page-top {
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 1850px) {
    p {
        font-size: 24px;
    }
    .preface-text {
        width: 1016px;
    }
    .choice {
        font-size: 24px;
    }
    .page2 {
        padding-top: 100px;
    }
    .page2-buttons {
        padding-top: 40px;
    }
    .page3-choice1-img {
        scale: 1;
        padding: 0;
    }
    .page3-choice1-text {
        padding-right: 30px;
    }

    .page4-choice1 {
        height: 498px;
        width: 571px;
    }

    .page4-choice2{
        height: 498px;
        width: 571px;
    }
    .you-lose  {
        font-size: 28px;
    }
    .page5-text3 {
        margin: 230px 0 40px 0;;
    }
    .button-play-again {
        scale: 1;
        margin-left: 55px;
    }
    .page5-img, .button-next {
        scale: 1;
    }
    .button-page5-choice2 {
        margin-left: 200px;
    }
}
@media screen and (max-width: 1750px) {

}
@media screen and (max-height: 1040px) {

}
@media screen and (max-height: 975px) {
    .button-page1 {
        margin-top: 156px;
    }
    .page3-choice1 {
        padding-bottom: 40px;
    }
    .page4-choice1, .page4-choice2 {
        font-size: 22px;
        height: 400px;
        padding: 20px 48px ;
    }
    .page4-choice1 {
        width: 900px;
    }
    .page4-text {
        font-size: 22px;
    }
    .page4 {
        padding-top: 30px;
    }
    .page5-choice1 {
        padding-top: 105px;
    }
    .page5-img {
        scale: 0.9;
    }
    .page5-img-choice2 {
        scale: 0.9;
        margin-top: -50px;
    }
}
@media screen and (max-height: 850px) {
    .preface {
        padding-top: 80px;
    }
    .button-page1, .page5-text3 {
        margin-top: 56px;
    }
    .button-page3-choice1, .button-page3-choice2 {
        margin-top: 150px;
    }
    .page4 {
        padding: 110px 50px 0 155px ;
    }
    .page4-choice1, .page4-choice2 {
        font-size: 22px;
        height: 350px;
    }
    .page4-text, .word-krizis {
        font-size: 22px;
    }
    .page5-img {
        margin-top: -80px;
    }


}
.word-zavod {
    left: 330px
}

.word-nadel {
    left: 370px;
}
.word-krizis {
    width: 400px;
}