@import "reset.css";

@font-face {
    font-family: Mont;
    src: url("../fonts/Mont-Regular.ttf");
}

@font-face {
    font-family: Mont-Semibold;
    src: url("../fonts/MontSemiBold.ttf");
}

@font-face {
    font-family: BogartTrialBold;
    src: url("../fonts/Bogart-Bold-trial.ttf");
}

@font-face {
    font-family: Mont-Heavy;
    src: url("../fonts/ofont.ru_Mont.ttf");
}

body {
    background-color: white;
    font-family: Mont;
}

.site-header {
    background: white; !important;
    display: flex;
    padding: 40px 40px 0 40px;
    justify-content: space-between;
    position: sticky; !important;
    top: 0;
}

.logo {
    width: 85px;
    height: 85px;
}

.header-text {
    margin-right: 38%;
    padding-top: 9px;
    font-family: BogartTrialBold;
    font-weight: bold;
    width: 496px;
    height: 68px;
}

.page {
    display: none;
    flex-direction: column;
}

.header-text-up {
    font-size: 32px;
    line-height: 38.4px;
}

.header-text-bottom {
    font-size: 26px;
    line-height: 31.2px;
}

.play-again {
    margin-top: 19px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 216px;
    height: 47px;
    background-color: white;
    font-size: 24px;
    border: 3px solid #986CCF;
    border-radius: 8px;
    color: #986CCF;
    font-family: Mont-Semibold;
    transition: 0.7s;
}

.play-again:hover {
    background-color: #986CCF;
    color: white;
}

.button-play-again {
    display: flex;
    justify-content: center;
    position: relative;
    width: 310px;
    height: 57px;
    background-color: #986CCF;
    border-radius: 8px;
    transition: 0.7s;
    color: white;
    font-size: 32px;
    font-family: Mont-Semibold;
    padding-top: 8px;
}

.button-play-again:hover {
    background-color: #895EBE;
}

.choice {
    filter: drop-shadow(0 0 30px rgba(45,29,56,0.2));
    border-radius: 24px;
    background-color: white;
    font-size: 24px;
    text-align: left;
    padding: 32px 48px 32px 48px;
    width: 557px;
}

.choice:hover {
    filter: drop-shadow(0 0 30px rgba(45,29,56, 0.5));
}

.preface {
    display: flex;
    padding-bottom: 114px;
}

.worker {
    padding: 120px 0 0 155px;
}

p {
    font-size: 24px;
    padding-bottom: 8px;
}

.preface-heading {
    font-size: 32px;
    font-family: Mont-Heavy;
    padding-bottom: 16px;
}

.preface-text, .page2-text, .page5-text1, .page13-text1-choice2, .page17-choice1-text1, .page12-text2 {
    width: 1016px;
}

.button-next {
    display: flex;
    justify-content: center;
    /*position: relative;*/
    width: 171px;
    height: 57px;
    background-color: #986CCF;
    border-radius: 8px;
    transition: 0.7s;
    color: white;
    font-size: 32px;
    font-family: Mont-Semibold;
    padding-top: 8px;
}

.button-next:hover {
    background-color: #895EBE;
}

.button-page1 {
    margin-top: 256px;
    margin-left: 48%;
}

.page2 {
    padding-top: 155px;
    padding-bottom: 256px;
}

.page2-buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
}

.page2-choice1 {
    padding: 47px 48px 47px 48px;
}

.page2-choice2 {
    padding: 32px 48px 32px 48px;
}

.page2-choice2 {
    margin-right: 123px;
}

.page3-choice1 {
    flex-direction: row;
    justify-content: space-between;
    padding: 155px 40px 180px 0;
}

.page3-left {
    display: flex;
    flex-direction: column;
    padding-right: 14px;
}

.button-page3-choice1, .button-page3-choice2 {
    margin-top: 305px;
    margin-left: 33%;
}

.page3-choice2 {
    flex-direction: row;
    justify-content: space-between;
    padding: 155px 40px 180px 0;
}

.page4 {
    padding: 220px 139px 100px 0;
}

.page4-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.button-page4-choice1 {
    height: 498px;
    padding: 32px 48px 32px 48px;
}

.button-page4-choice1{
    height: 498px;
    text-align: left;
    padding: 110px 48px 110px 48px;
}

.button-page4-choice1 {
    margin-right: 32px;
}

.page4-choice1-text {
    margin-left: 48px;
    width: 461px;
    height: 434px;
}

.page4-choice2 {
    padding: 109px 48px 109px 48px;
}
.page5-choice1, .page5-choice2 {
    padding: 155px 0 116px 0;
}

.page5-bottom {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
}

.page5-text2 {
    width: 786px;
}

.page5-text3 {
    font-family: Mont-Semibold;
    font-size: 28px;
    padding: 230px 0 40px 0;
}

.button-page5-choice1 {
    margin-left: 14%;
}

.page5-img-choice2 {
    padding-top: 79px;
}

.button-page5-choice2 {
    margin-left: 54%;
    margin-top: 376px;
}

.page6 {
    padding: 155px 139px 170px 0;
}

.page6-text {
    width: 1130px;
}

.page6-buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 56px;
}

.page6-choice1 {
    margin-right: 3%;
}

.page7-choice1, .page7-choice2 {
    padding: 155px 0 158px 0;
}

.page7-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
}

.page7-text1 {
    width: 1015px;
}

.page7-text2 {
    width: 786px;
}

.button-page7-choice1 {
    margin-top: 280px;
    margin-left: 9%;
}

.page7-text1-choice2 {
    width: 1130px;
}

.page7-text2-choice2, .page9-text2-choice2, .page15-text2-choice2, .page17-choice2-text2, .page11-text1-choice2 {
    width: 672px;
}

.page7-text3 {
    font-size: 28px;
    font-family: Mont-Semibold;
    padding-bottom: 40px;
}

.page7-left {
    padding-top: 167px;
}

.button-page7-choice2 {
    margin-left: 16%;
}

.page8 {
    padding: 155px 0 155px 0;
}

.page8-text1 {
    width: 1130px;
}

.page8-text2 {
    width: 786px;
}

.page8-bottom {
    display: flex;
}

.page8-left {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.page8-img {
    position: absolute;
    right: 0;
}

.page8-choice1, .page8-choice2 {
    margin-top: 48px;
    height: 126px;
}

.page9-choice1{
    padding: 155px 40px 138px 0;
}

.page9-text1-choice1 {
    width: 1130px;
}

.page9-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
}

.button-page9-choice1 {
    margin-top: 190px;
    margin-left: 10%;
}

.page9-choice2{
    padding: 155px 0 156px 0;
}

.page9-text1-choice2 {
    width: 1130px;
}

.page9-text3 {
    font-size: 28px;
    font-family: Mont-Semibold;
}

.button-page9-choice2 {
    margin-top: 40px;
    margin-left: 14%;
}

.page10 {
    padding: 155px 0 140px 0;
}

.page10-bottom {
    padding-top: 52px;
    display: flex;
    justify-content: space-between;
}

.page10-left {
    display: flex;
    flex-direction: column;
    padding-right: 40px;
}

.page10-text1 {
    padding-top: 150px;
    width: 1130px;
}

.page10-choice1 {
    height: 281px;
}

.page10-choice2 {
    margin-top: 48px;
    height: 157px;
}

.page11-choice1 {
    padding: 155px 40px 100px 0;
}

.page11-text1-choice1 {
    width: 1130px;
}

.page11-bottom {
    display: flex;
    justify-content: space-between;
}

.button-page11-choice1 {
    margin-top: 383px;
    margin-left: 10%;
}

.page11-choice2 {
    padding: 155px 96px 181px 0;
}

.page11-text3 {
    padding-top: 260px;
    font-size: 28px;
    font-family: Mont-Semibold;
}

.button-page11-choice2 {
    margin-top: 40px;
    margin-left: 16%;
}

.page12 {
    padding: 155px 40px 178px 0;
}

.page12-buttons {
    display: flex;
    padding-top: 56px;
    justify-content: space-between;
    padding-right: 100px;
}

.page12-choice1 {
    height: 312px;
}

.page12-choice2 {
    height: 312px;
}

.page12-choice1-text {
    width: 461px;
    height: 93px;
    text-align: left;
    margin-left: 48px;
}

.page12-choice2-text {
    width: 461px;
    height: 248px;
    text-align: left;
    margin-left: 48px;
}

.page13-choice1 {
    padding: 155px 40px 192px 0;
}

.page13-text1-choice2 {
    padding-top: 60px;
}

.page13-text1-choice1 {
    width: 1130px;
}

.page13-text2-choice1 {
    width: 901px;
}

.page13-text3-choice1 {
    width: 557px;
}

.page13-text3 {
    font-family: Mont-Semibold;
    font-size: 28px;
    padding: 28px 0 40px;
}

.page13-bottom {
    display: flex;
}

.page13-group {
    display: flex;
}

.button-page13-choice2, .button-page13-choice1 {
    margin-left: 13%;
}

.page13-choice2 {
    padding: 200px 85px 155px 0;
}

.page13-bottom {
    display: flex;
    justify-content: space-between;
}

.button-page13-choice2 {
    margin-left: 12%;
    margin-top: 300px;
}

.page13-text2-choice2 {
    width: 557px;
}

.page14 {
    padding: 155px 139px 170px 0;
}

.page14-buttons {
    display: flex;
    padding-top: 56px;
    justify-content: space-between;
}

.page14-choice1 {
    height: 312px;
    margin-right: 32px;
}

.page14-choice2 {
    margin-right: 32px;
}

.page15-choice1 {
    padding: 155px 0 188px 0;
}

.page15-choice1-bottom, .page15-bottom {
    display: flex;
    justify-content: space-between;
}

.button-page15-choice1 {
    margin-top: 330px;
    margin-left: 10%;
}

.page15-choice2 {
    padding: 155px 0 126px 0;
}

.page15-text3 {
    padding-top: 190px;
    font-size: 28px;
    font-family: Mont-Semibold;
}

.page15-text1-choice2 {
    width: 901px;
}

.button-page15-choice2 {
    margin-top: 40px;
    margin-left: 16%;
}

.page16 {

    padding: 155px 40px 78px 0;
}

.page16-bottom {
    display: flex;
    justify-content: space-between;
}

.page16-text3 {
    width: 400px;
}

.page16-left {
    display: flex;
    flex-direction: column;
}

.page16-text1 {
    width: 1130px;
}

.page16-text2 {
    width: 901px;
}

.page16-choice1 {
    margin-top: 60px;
}

.page16-choice2 {
    margin-top: 32px;
}

.page17-choice1 {
    padding: 155px 40px 124px 0;
}

.page17-choice1-bottom {
    display: flex;
    justify-content: space-between;
}

.page17-choice1-left {
    display: flex;
    flex-direction: column;
}

.page17-choice1-text2 {
    width: 442px;
}

.button-page17-choice1 {
    margin-top: 205px;
    margin-left: 30%;
}

.page17-choice2 {
    padding: 155px 40px 110px 0;
}

.page17-choice2-text1 {
    width: 1129px;
}

.page17-choice2-bottom {
    display: flex;
    justify-content: space-between;
}

.button-page17-choice2 {
    margin-top: 268px;
    margin-left: 10%;
}

.page18 {
    padding: 155px 155px 288px 0;
}

.page18-buttons {
    display: flex;
    margin-top: 152px;
}

.more-lit {
    margin-left: 229px;
    margin-right: 60px;
}

.more-lit {
    margin-top: 19px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 343px;
    height: 98px;
    background-color: #986CCF;
    font-size: 32px;
    border-radius: 12px;
    color: white;
    font-family: Mont-Semibold;
    transition: 0.7s;
}

.more-lit:hover {
    background-color: #895EBE;
}

.play-again-button {
    margin-top: 19px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 269px;
    height: 98px;
    background-color: white;
    font-size: 32px;
    border: 3px solid #986CCF;
    border-radius: 12px;
    color: #986CCF;
    font-family: Mont-Semibold;
    transition: 0.7s;
}

.play-again-button:hover {
    background-color: #986CCF;
    color: white;
}

.more-lit-page {
    padding: 155px 75px 65px 0;
}

.more-lit-li {
    list-style: inside; !important;
    padding-bottom: 8px;
}

.more-lit-ul {
    filter: drop-shadow(0 0 20px rgba(45,29,56,0.2));
    border-radius: 24px;
    background-color: white;
    width: 1210px;
    font-size: 24px;
    text-align: left;
    padding: 32px 40px 32px 40px;
}

.more-lit-li::marker {
    font-size: 20px;
}